#about {
  background-color: $purpleColor;
  background-image: url("../img/about/background.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.about {
  @extend %default-grid;
  align-items: center;
  height: 235px;
  margin-top: 12px;

  &__title {
    &-text {
      color: $whiteColor;
      font-weight: bold;
      @extend %h1-title;
    }
  }
}

@include bp(1100px) {
  .about {
    grid-column-gap: 24px;
    max-width: 700px;

    &__title {
      &-text {
        font-size: 35px;
      }
    }
  }
}

@include bp(766px) {
  #about {
    height: 19vh;
  }
  .about {
    height: 100% !important;
    &__title {
      h1 {
        margin-top: 17px;
        margin-left: 24px !important;
        font-size: 31px !important;
      }
    }
  }
}
