.agents{
  @extend %df;
  @extend %jcsb;
  margin-top: 224px;

  &__contact{
    box-shadow: 2px 15px 16px #eee;
    padding: 60px;
    &-title{
      color: $mainColor;
      font-weight: bold;
      @extend %h4-title;
    }
    &-number{
      display: flex;
      align-items: center;
      margin-bottom: 55px;
      margin-top: 29px;
      &-text{
        margin-left: 19px;
        color: $purpleColor;
        font-size: 30px;
        line-height: 34px;
        font-weight: bold;
      }
    }
    &-btn{
      text-transform: uppercase;
      color: $whiteColor;
      text-decoration: none;
      border-radius: 2px;
      padding: 12px 41px;
      font-weight: bold;
      background: $purpleColor;
      @extend %btn-bold;

    }
  }
  &__qualified {
    width: 558px;
    &-title{
      color: $mainColor;
      font-weight: bold;
      @extend %h2-title;
    }
    &-content{
      @extend %regular-text;
      color: $textColor;
      line-height: 159%;
      margin-top: 36px;
    }
  }
}

@include bp(1100px) {
  .agents{
    max-width: 747px;
    grid-column-gap: 25px;
    margin-top: 170px;
    &__contact{
      padding: 22px 39px 30px 30px;
      &-title{
        font-size: 17px;
      }
      &-number{
        &-img{
          width: 20px;
        }
        &-text{
          font-size: 20px;
        }
        &-btn{
          font-size: 12px;
        }
      }
    }
    &__qualified{
      &-title{
        font-size: 35px;
      }
      &-content{
        font-size: 11px;
      }
    }
  }
}
@include bp(766px) {
  .agents {
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "qualified" "contact" ;
    &__contact {
      grid-area: contact;
      margin-top: 50px;
      &-title {
        font-size: 16px;
      }
    }
    &__qualified {
      grid-area: qualified;
      &-content {
        font-size: 10px;
      }
    }
  }
}