.left-arrow{
  width: 30px;
  background-color: #fff;
  border-radius: 20px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  margin-top: 50px;
}
.right-arrow{
  width: 30px;
  background-color: #fff;
  border-radius: 20px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  margin-left: 78%;
  margin-top: 50px;
}