.convenience {
  @extend %df;
  margin-top: 198px;

  &__img {
    align-self: flex-end;
  }

  &__info {
    margin-left: 50px;
    &-title {
      color: $main_color;
      text-transform: capitalize;
      @extend %h2-title;
    }

    &-content {
      &-first {
        color: $textColor;
        @extend %regular-text;
        margin-top: 35px;
      }

      &-second {
        color: $textColor;
        @extend %regular-text;
        margin-top: -6px;
      }
    }
  }
}

@include bp(1100px) {
  .convenience{
    max-width: 747px;
    grid-column-gap: 24px;
    margin-top: 170px;
    &__img{
      width: 358px;
    }
    &__info{
      &-title{
        font-size: 35px;
      }
      &-content{
        &-first{
          font-size: 11px;
        }
        &-second{
          font-size: 11px;
        }
      }
    }
  }
}
@include bp(766px) {
  .convenience{
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "info" "img";
    &__img {
      grid-area: img;
      margin-top: 50px;
    }
    &_info {
      grid-area: info;
    }
  }
}
