.dream-car {
  @extend %df;
  margin-top: 230px;

  &__text {
    &-title {
      color: $mainColor;
      @extend %h2-title;
      font-weight: bold;
      text-transform: capitalize;
    }

    &-content {
      margin-top: 34px;
      &-first {
        color: $textColor;
        line-height: 159%;
        @extend %regular-text;
      }

      &-second {
        color: $textColor;
        @extend %regular-text;
        line-height: 159%;
        margin-top: 20px;
      }
    }
  }

  &__paragraph {
    margin-left: 99px;
    &-item {
      @extend %df;
      @extend %aic;
      margin-top: 20px;
      margin-bottom: 40px;
      &:first-child {
        margin-top: 13px;
      }

      &-polygon {
        &-number {
          position: absolute;
          z-index: 1;
          color: $whiteColor;
          font-size: 25px;
          display: flex;
          align-items: center;
          margin-left: 10px;
          font-weight: bold;
        }
      }

      &-content {
        margin-left: 21px;

        &-title {
          color: $mainColor;
          @extend %semibold-text;
        }

        &-description {
          color: $textColor;
          @extend %regular-text;

        }
      }
    }
  }
}

@include bp(1100px) {
  .dream-car{
    max-width: 747px;
    grid-column-gap: 15px;
    margin-top: 170px;
    &__text{
      &-title{
        font-size: 35px;
      }
      &-content{
        margin-top: 20px;
        &-first{
          font-size: 11px;
        }
        &-second{
          font-size: 11px;
        }
      }
    }
    &__paragraph{
      &-item{
        margin-top: 20px;
        margin-bottom: 20px;
        &-polygon{
          width: 55px;
          &-number{
            font-size: 20px;
          }
        }
        &-content{
          &-title{
            font-size: 14px;
          }
            &-description {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
@include bp(766px) {
  .dream-car {
    grid-template-columns: repeat(1, 1fr);
    max-width: 350px;
    &__text {
      &-content {
        &-first {
          font-size: 10px;
        }
        &-second {
          font-size: 10px;
        }
      }
    }
    &__paragraph {
      margin-top: 50px;
    }
  }
}