.future{
  @extend %df;
  margin-top: 245px;
  &__img{
    width: 570px;
    height: 537px;
    background: #C4C4C4;
  }
  &__info{
    margin-top: -15px;
    margin-left: 55px;
    &-title{
      color: $mainColor;
      @extend %h2-title;
      text-transform: capitalize;
      font-weight: bold;
    }
    &-content{
      color: $textColor;
      @extend %regular-text;
      line-height: 159%;
      margin-top: 16px;
    }
    &-main{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 34px;
      grid-row-gap: 40px;
      margin-top: 70px;
      &-item{
        background-color: $purpleColor;
        width: 262px;
        height: 144px;
        border-radius: 5px;
        @extend %df;
        @extend %aic;
        padding-left: 30px;
        &-number{
          color: $whiteColor;
          @extend %h2-title;
          font-weight: bold;

        }
        &-comment{
          color: $whiteColor;
          @extend %regular-text;
        }
      }
    }
  }
}

@include bp(1100px) {
  .future{
    max-width: 747px;
    grid-column-gap: 20px;
    margin-top: 170px;
    &__img{
      width: 355px;
      height: 369px;
    }
    &__info{
      &-title{
        font-size: 35px;
      }
      &-content {
        font-size: 12px;
      }
      &-main{
        margin-top: 15px;
        &-item{
          width: 173px;
          height: 105px;
          padding-left: 19px;
          &-number{
            font-size: 35px;
          }
          &-comment{
            font-size: 12px;
          }
        }
      }
    }
  }
}
@include bp(766px) {
  .future {
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "info" "img";
    &__img {
      grid-area: img;
      margin-top: 50px;
    }
    &__info {
      grid-area: info;
    }
  }
}