#mission {
  margin-top: 161px;
}

.mission {
  @extend %df;
  @extend %jcsb;
  align-items: flex-end;
  &__img {
    width: auto;
    height: auto;
  }
  &__card {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    width: rem(582);
    height: rem(396);
    padding: 52px 0 0 56px;
    border-radius: 5px;

    &-title {
      color: $main_color;
      text-transform: capitalize;
      margin-bottom: 15px;
      @extend %h2-title;
    }

    &-content {
      @extend %regular-text;
      color: $textColor;
      margin-bottom: 51px;
      line-height: 159%;
    }


    &-btn {

      @extend %btn-fill;

    }
  }
}

@include bp(1100px) {
  #mission {
    margin-top: 120px;
  }
  .mission{
    max-width: 747px;
    grid-column-gap: 24px;
    &__card{
      padding: 22px 32px 40px 27px;
      &-title{
        font-size: 35px;
      }
      &-content{
        font-size: 11px;
      }
      &-btn{
        font-size: 12px;
        padding: 12px 21px;
      }
    }
    &__img{
      width: 358px;
    }
  }
}

@include bp(766px) {
  .mission {
    grid-template-columns: repeat(1, 1fr);
    max-width: 290px;
    justify-content: center;

    &__img {
      margin-top: 50px;
    }
  }
}