.prices {
  @extend %df;
  margin-top: 217px;

  &__first {
    &-title {
      color: $mainColor;
      @extend %h2-title;
      text-transform: capitalize;
      margin-top: 0;
      font-weight: bold;
    }

    &-content {
      @extend %regular-text;
      color: $text_color;
      margin-top: 35px;
    }
  }

  &__second {
    margin-left: 108px;
    margin-top: 9px;
    &-title {
      @extend %h4-title;
      color: $mainColor;
      font-weight: bold;

    }

    &-content {
      color: $text_color;
      margin-top: 26px;
      margin-bottom: 50px;
      @extend %regular-text;
    }

    &-btn {
      @extend %btn-fill;
    }
  }
}

@include bp(1100px) {
  .prices{
    margin-top: 170px;
    max-width: 700px;
    grid-column-gap: 17px;
    &__first{
      &-title{
        font-size: 30px;
      }
      &-content{
        font-size: 11px;
      }
    }
    &__second{
      &-title{
        font-size: 20px;
      }
      &-content{
        font-size: 11px;
        margin-bottom: 40px;
      }
      &-btn{
        font-size: 12px;
      }
    }
  }
}
@include bp(766px) {
  .prices {
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
    &__second {
      margin-top: 50px;
    }
  }
}