.team{
  @extend %df;
  @extend %jcsb;
  margin-top: 240px;
  &__info{
    margin-top: -15px;
    &-title{
      color: $mainColor;
      @extend %h2-title;
      text-transform: capitalize;
      font-weight: bold;
    }
    &-history{
      color: $mainColor;
      @extend %h4-title;
      text-transform: capitalize;
      margin-top: 31px;
      font-weight: bold;
      &-content{
        color: $textColor;
        @extend %regular-text;
        line-height: 140%;
        margin-top: 15px;
      }
    }
    &-goal{
      color: $mainColor;
      @extend %h4-title;
      text-transform: capitalize;
      margin-top: 25px;
      &:nth-child(2) {
        margin-top: 36px;
      }
      &-content{
        color: $textColor;
        @extend %regular-text;
        line-height: 140%;
        margin-top: 15px;
      }
    }
  }
  &__img{
    background: #C4C4C4;
    width: 583px;
    height: 555px;
  }
}

@include bp(1100px) {
  .team{
    max-width: 747px;
    grid-column-gap: 20px;
    &__img{
      width: 367px;
      height: 431px;
    }
    &__info{
      &-title{
        font-size: 30px;
      }
      &-history{
        font-size: 20px;
        &-content{
          font-size: 11px;
        }
      }
      &-goal{
        font-size: 20px;
        &-content{
          font-size: 11px;
        }
      }
    }
  }
}
@include bp(766px) {
  .team {
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
    &__info {
      &-history {
        &-content {
          font-size: 10px;
        }
      }
      &-goal {
        &-content {
          font-size: 10px;
        }
      }
    }
    &__img {
      margin-top: 50px;
      height: 370px;
    }
  }
}