#calculator {
  margin-top: 283px;
  margin-bottom: 113px;
  padding-bottom: 20px;
}

.calculator {
  &__text {
    @extend %df;
    @extend %jcsb;
    margin-bottom: 65px;
    &-title {
      color: $mainColor;
      text-transform: capitalize;
      font-weight: bold;
      word-spacing: -5px;
      @extend %h2-title;
    }

    &-content {
      color: $textColor;
      line-height: 159%;
      padding-top: 11px;
      @extend %regular-text;
    }
  }

  &__label-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 19px;
    color: $mainColor;
    &-title {
      @extend %semibold-text;
      color: $mainColor;
      padding-top: 6px;
    }
    &-value {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 5px;
      align-items: center;
      &-desc {
        font-size: 16px;
        padding-top: 7px;
        @extend %semibold-text;
        color: $mainColor;
      }

      &-num {
        font-weight: bold;
        font-size: 25px;
        @extend %semibold-text;
        color: $mainColor;
      }
    }
  }

  &__main {
    @extend %df;
    @extend %jcsb;

    &-radio {
      display: none;
      &:checked + label {
        background-color: $purpleColor;
        color: $whiteColor;
      }
    }

    &-load {
      width: 809px;
      box-shadow: 2px 15px 16px #eee;
      padding: 63px 58px 0px 52px;
      height: 501px;
      border-radius: 5px;

      &-btn {
        @extend %df;
        @extend %aic;

        &-link {
          text-decoration: none;
          color: $purpleColor;
          width: 123px;
          height: 50px;
          text-transform: uppercase;
          border: 1px solid $purpleColor;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .5s;
          @extend %btn-bold;
          &:not(:first-of-type) {
            border-left: none;
          }
        }

        &-link:hover {
          cursor: pointer;
          background-color: $purpleColor;
          color: $whiteColor;
        }
      }
    }

    &-amount {
      width: rem(375);
      box-shadow: 2px 15px 16px #eee;
      padding: 0px 22px 62px 59px;
      height: 100%;
      display: grid;
      &-wekkly{
        &-title {
          color: $mainColor;
          margin-top: 48px;
          @extend %regular-text;
        }

        &-price {
          color: $purple;
          font-weight: bold;
          @extend %h2-title;
        }
      }
      &-monthly{
        &-payment {
          color: $mainColor;
          margin-top: 42px;
          @extend %regular-text;
        }

        &-prices {
          color: $mainColor;
          font-weight: bold;
          @extend %h4-title;
        }
      }
      &-pay{
        margin-top: 30px;
        &-payment {
          @extend %regular-text;
          color: $mainColor;
        }
        &-prices-link {
          color: $mainColor;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: 57px;
          @extend %h4-title;
        }

        &-btn {
          @extend %btn-fill;
        }
      }
    }
  }
}

.range-box {
  .noUi-target {
    height: 8px;
    border: none;

    .noUi-base {
      background: $purpleColor;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      height: 8px;
    }
  }

  .noUi-origin {
    background: $dark-gray;
  }

  .noUi-handle.noUi-handle-lower {
    background: $purpleColor;
    border: 1px solid $white;
    width: 18px;
    height: 18px;
    outline: none;
    right: 0;
    top: -5px;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.3s ease-in-out;

    &.noUi-active{
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }

    &::before, &::after {
      display: none;
    }

    .noUi-touch-area {
      width: 18px;
      height: 18px;
    }
  }
}


@include bp(1100px) {
  .calculator{
    &__text{
      max-width: 747px;
      grid-column-gap: 20px;
      align-items: center;
      &-title{
        font-size: 35px;
      }
      &-content{
        font-size: 10px;
      }
    }
    &__main{
      max-width: 747px;
      margin: 0 auto;
      &-load{
        width: 100%;
      }
    }
  }
}
@include bp(766px) {
  #calculator{
    max-width: 330px;
    margin-top: 45px;
    margin-bottom: 70px;
  }
  .calculator{
    &__text{
      grid-template-columns: repeat(1, 1fr);
      &-title {
        font-size: 1.5rem;
        line-height: 36px;
        margin-left: 2px;
      }
      &-content {
        line-height: 16px;
        margin-top: 10px;
        white-space: nowrap;
        margin-left: 5px;
        font-size: 10px;
      }
    }
    &__main{
      grid-template-columns: repeat(1, 1fr);
      box-shadow: 2px 15px 16px #eee;
      padding-bottom: 38px;
      &-load{
        padding: 0;
        box-shadow: none;
        &-btn{
          margin-top: 50px;
          margin-left: 24px;
          &-link {
            width: 93px;
            height: 39px;
            font-size: 13px;
          }
        }
      }
      &-amount {
        padding: 0;
        position: relative;
        box-shadow: none;
        &-wekkly {
          padding-left: 201px;
          &-title {
            margin-top: 29px;
            font-size: 11px;
            margin-left: 3px;
          }
          &-price {
            margin-top: -23px;
            font-size: 1.5rem;
          }
        }
        &-monthly {
          padding-top: 38px;
          &-payment {
            margin-top: 47px;
            margin-left: 29px;
            font-size: 11px;
          }
          &-prices {
            margin-top: -13px;
            margin-left: 27px;
            font-size: 16px;
          }
        }
        &-pay {
          &-payment {
            margin-top: -25px;
            font-size: 11px;
            margin-left: 31px;
          }
          &-prices-link {
            font-size: 14px;
            margin-top: -13px;
            margin-left: 31px;
            margin-bottom: 29px;
          }
          &-btn {
            margin-left: 29px;
            padding: 8px 13px;
          }
        }
      }
    }
    &__label {
      &-wrap {
        margin-top: 25px;
        margin-bottom: 3px;
        &-title {
          font-size: 0.9rem;
          margin-left: 25px;
        }
        &-value {
          padding-right: 17px;
          &-num {
            font-size: 18px;
          }
          &-desc {
            font-size: 14px;
          }
        }
      }
    }
  }
  .calc__main {
    //margin-top: -150px;
  }
  .range-box {
    //padding-left: 26px !important;
  }
  .noUi-handle {
    height: 14px !important;
    width: 14px !important;
    top: -3px !important;
    left: -5px !important;
  }
}
