#client {
  padding-top: 233px;
  padding-bottom: 30px;
  .top {
    max-width: rem(1200);
  }
  .bot {
    max-width: rem(1151);
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    max-width: 1193px;
    @extend %bsg;
    margin-top: 65px;
    padding-top: 5px;
    margin-left: 2px;
  }

  .swiper-wrapper {
    background: transparent;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
  }
}
.container{
  position: relative;
}
.client {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: column;
  &__title {
    color: $mainColor;
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 5px;
    word-spacing: -4.4px;
    @extend %h2-title;
  }

  &__arrow {
    &-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 2;

      img {
        border-radius: 50%;
        background: $white;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        padding: 15px;
      }
    }

    &-left, &-right {
      width: 53px;
      height: 53px;
      cursor: pointer;
    }

    &-right {
      margin-right: -24px;
    }
    &-left {
      margin-left: -21px;
    }
  }

  &__info {
    padding: 20px 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 26px;
    align-items: center;
    justify-content: space-around;

    &-img {
      max-width: 535px;
      overflow: hidden;
    }

    &-text {
      text-align: left;
      padding-left: 38px;
      padding-bottom: 20px;

      &-name {
        color: $textColor;
        @extend %regular-text;
      }

      &-comment {
        @extend %semibold-text;
        font-weight: 400;
        margin-top: 15px;
        color: $mainColor;
      }
    }
  }
}

@include bp(1100px) {
  .client {
    max-width: 747px;

    &__arrow-wrap {
      top: 63%;
    }

    &__title {
      font-size: 35px;
    }

    &__info {
      &-img {
        width: 330px;
      }
      &-text{
        &-comment{
          font-size: 12px;
        }
      }
    }
  }
}

//@include bp(500px) {
//  #client {
//    max-width: 350px;
//    margin: 0 auto;
//    margin-top: 170px;
//  }
//  .client {
//    max-width: 350px;
//    &__info {
//      grid-template-columns: repeat(1,1fr);
//      &-text{
//        margin-top: 20px;
//        &-comment {
//          font-size: 12px;
//          line-height: 1.125rem;
//        }
//      }
//    }
//    &__arrow {
//      &-wrap {
//        top: 35%;
//        width: 98%;
//        left: -2%;
//      }
//      &-left {
//        margin-left: 0;
//      }
//    }
//  }
//}
