#benefits {
  & + #calculator {
    margin-top: 158px;
  }
}
.benefits {
  margin-top: 230px;
  padding-bottom: 70px;
  @extend %df;
  @extend %jcsb;
  &__text {
    &-title {
      color: $mainColor;
      @extend %h2-title;
      text-transform: capitalize;
    }

    &-content {
      color: $textColor;
      @extend %regular-text;
      margin-top: 33px;
    }
  }

  &__content {
    padding-top: 13px;
    &-text {
      &-description {
        margin-top: 50px;
        &-title {
          color: $mainColor;
          @extend %semibold-text;
          margin-bottom: 50px;
        }

        &-btn {
          @extend %btn-fill;
        }
      }
    }

    &-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 23px;
      grid-row-gap: 30px;
      &-item {
        &-purple {
          width: 280px;
          height: 144px;
          background-color: $purple;
          color: $whiteColor;
          border-radius: 5px;
          box-shadow: 2px 15px 16px #eee;
          padding-top: 37px;
          &-title {
            @extend %semibold-text;
            padding-left: 38px;
            color: $white;
          }
        }

        &-white {
          width: 280px;
          height: 144px;
          background-color: $whiteColor;
          color: $mainColor;
          border-radius: 5px;
          box-shadow: 2px 15px 16px #eee;
          padding-top: 37px;
          &-title {
            @extend %semibold-text;
            padding-left: 38px;
            color: $main_color
          }
        }
      }
    }
  }
}

@include bp(1100px) {
  .benefits {
    max-width: 747px;
    grid-column-gap: 20px;

    &__info {
      &-title {
        font-size: 35px;
      }

      &-content {
        font-size: 11px;
      }

      &-description {
        font-size: 14px;
        margin-top: 25px;
      }

      &-btn {
        padding: 12px 21px;
      }
    }

    &__block {
      &-item {
        &-purple {
          width: 166px;
          height: 86px;

          &-title {
            font-size: 15px;
          }
        }

        &-white {
          width: 166px;
          height: 86px;

          &-title {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@include bp(766px) {
  .benefits {
    max-width: 330px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 125px;
    &__text {
      &-title {
        font-size: 1.38rem;
        padding-left: 5px;
        line-height: 30px;
        padding-top: 19px;
      }
      &-content {
        font-size: 12px;
        margin-top: 16px;
        padding-left: 6px;
        line-height: 18px;
        width: 85%;
      }
    }
    &__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'block' 'text';
      &-block {
        grid-template-columns: repeat(2, 1fr);
        grid-area: block;
        margin-top: 4px;
        margin-left: 5px;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        &-item {
          &-purple {
            width: 150px;
            height: 72px;
            &-title {
              font-size: 1.01rem;
              line-height: 1.3rem;
            }
          }
          &-white {
            width: 150px;
            height: 72px;
             &-title {
               font-size: 1.01rem;
               line-height: 1.3rem;
             }
          }
        }
      }
      &-text {
        &-description {
          grid-area: text;
          &-title {
            margin-top: 38px;
            margin-bottom: 40px;
            font-size: 0.8rem;
            line-height: 24px;
            margin-left: 5px;
          }
          &-btn {
            padding: 11px 31px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
