.credit {
  margin-top: 162px;
  @extend %df;
  @extend %jcsb;
  align-items: flex-end;
  &__img {
    width: auto;
    height: auto;
  }
  &__card {
    @extend %bsg;
    width: rem(584);
    height: rem(371);
    padding: 51px 0 0 54px;

    &-title {
      @extend %h2-title;
      color: $mainColor;
      text-transform: capitalize;
      font-weight: bold;
    }

    &-content {
      @extend %regular-text;
      color: $textColor;
      line-height: 159%;
      margin-top: 15px;
      margin-bottom: 50px;
    }

    &-btn {
      @extend %btn-fill;
    }
  }
}

@include bp(1100px) {
  .credit {
    max-width: 747px;
    grid-column-gap: 24px;
    margin-top: 170px;

    &__card {
      padding: 22px 32px 40px 27px;

      &-title {
        font-size: 35px;
      }

      &-content {
        font-size: 11px;
      }

      &-btn {
        font-size: 12px;
        padding: 12px 21px;
      }
    }

    &__img {
      width: 358px;
    }
  }
}

@include bp(766px) {
  .credit {
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 60px;

    &__card {
      &-title {
        font-size: 22px;
        margin-top: -11px;
        margin-left: 5px;
      }
      &-content {
        margin-top: -6px;
        margin-left: 6px;
        margin-bottom: 45px;
        white-space: nowrap;
      }
      &-btn {
        font-size: 12px;
        padding: 10px 30px;
        margin-left: 6px;
      }
    }
    &__img {
      margin-top: 47px;
      width: 320px;
      margin-left: 15px;
    }
  }
}