.interest {
  margin-top: 230px;

  &__title {
    color: $mainColor;
    @extend %h2-title;
    font-weight: bold;
    margin-bottom: 65px;
    &-span {
      color: $mainColor;
      @extend %h2-title;
      font-weight: bold;
      margin-bottom: 65px;
      margin-left: 15px;
    }
  }
  &__info {

    @extend %df;
    @extend %jcsb;

    &-block {
      padding: 55px;
      background-color: $white;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      width: 580px;
      height: 357px;
      padding: 53px 30px 0 52px;
      &_time {
        padding: 54px 0 0px 56px;
        .interest__info-block {
          &-title {
            &-text {
              max-width: 340px;
            }
          }
        }
      }
      &-title {
        display: flex;
        align-items: center;

        &-text {
          color: $mainColor;
          @extend %h4-title;
          margin-left: 31px;
        }
      }

      &-content {
        color: $textColor;
        @extend %regular-text;
        margin-top: 20px;
        width: 100%;
        line-height: 159%;
      }
    }
  }
}

@include bp(1100px) {
  .interest {
    max-width: 747px;
    margin: 0 auto;
    margin-top: 170px;
    &__info{
      max-width: 747px;
      grid-column-gap: 20px;
      &-block {
        margin-top: 30px;
        padding: 15px;
        &-title{
          width: auto;
          &-text{
            font-size: 15px;
          }
        }
        &-content{
          font-size: 11px;
        }
      }
    }
  }
}

@include bp(766px) {
  .interest {
    margin: 0 auto;
    max-width: 350px;
    margin-top: 95px;
    margin-left: 20px;
    &__title {
      font-size: 22px;
      display: inherit;
      margin-bottom: -32px;
      &-span {
        color: $mainColor;
        font-size: 22px;
        font-weight: bold;
        margin-left: 0;
      }
    }
    &__info {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 43px;
      &-block {
        margin-top: 0;
        &-title {
          margin-top: -21px;
          img {
            width: 40px;
          }
          &-text {
            margin-left: 13px;
            font-size: 15.2px;
            margin-top: 0;
            line-height: 25px;
          }
        }
        &-content {
          font-size: 11.3px;
          text-align: -webkit-match-parent;
          max-width: 87%;
          letter-spacing: -0.2px;
          margin-left: 2px;
          margin-top: 9px;
          white-space: pre;
        }
        &-text {
          padding-top: 70px;
        }
      }
    }
  }
}
