#about {
  background-color: $purpleColor;
  background-image: url("../img/about/background.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.about {
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  height: 235px;

  &__title {
    h1 {
      font-size: 60px;
      color: $whiteColor;
      font-weight: bold;
    }
  }
}
@include bp(1100px) {
  .about {
    &__title {
      h1 {
        font-size: 40px;
        margin-left: 20px;
      }
    }
  }
}

@include bp(766px) {
  .about {
    &__title {
      h1 {
        font-size: 30px;
      }
    }
  }
}
