.advantages {
  padding-top: 209px;
  &__title {
    font-size: 2.71rem;
    font-weight: bold;
    color: $mainColor;
    @extend %h2-title;
  }

  &__img {
    width: 600px;
    height: 470px;
    &_mobile {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    margin-top: 90px;
    font-size: 16px;
    line-height: 159%;
    justify-content: center;
    padding-left: 147px;
    transition: all .5s ease;
    &-vehicle{
      position: absolute;
      left: 16.5%;
    }
    &-finance{
      position: absolute;
      left: -7%;
    }
    &-car{
      position: absolute;
      left: -30%;
    }
    &-text {

      &-car {
        position: absolute;
        top: 52%;
        max-width: 50%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%) translateY(90px);
        opacity: 0;
        transition: opacity .3s ease .2s, transform .5s ease;
        //display: none;

      }

      &-finance {
        position: absolute;
        top: 30%;
        max-width: 50%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%) translateY(100px);
        opacity: 0;
        transition: opacity .3s ease .2s, transform .5s ease;
        //display: none;
      }

      &-vehicle {
        position: absolute;
        top: 52%;
        max-width: 50%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%) translateY(90px);
        opacity: 0;
        transition: opacity .3s ease .2s, transform .5s ease;
        //display: none;
      }
      &-item {
        @extend %regular-text;
        color: $textColor;

      }
    }

    &-content {
      &-finance {
        position: absolute;
        text-align: center;
        top: 22%;
        transform: translate(-50%);
        left: 50.2%;
        transition: all .5s ease;
      }

      &-vehicle {
        position: absolute;
        text-align: center;
        top: 47%;
        transform: translate(-50%);
        left: 50%;
        transition: all .5s ease;
      }

      &-car {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%);
        left: 49.5%;
        transition: all .5s ease;

      }

      &-title {
        @extend %semibold-text;
        color: $black;
        padding-top: 6px;
        text-transform: capitalize;
      }

      img {
        width: 65px;
        height: 65px;
      }
    }

    &-vehicle {
      position: relative;

      &:hover .advantages__wrapper-text-vehicle {
        display: block;
        transform: translateX(-50%) translateY(0);
        opacity: 1;
      }

      &:hover .advantages__wrapper-content-vehicle {
        top: 30%;
      }
    }

    &-finance {
      position: relative;

      &:hover .advantages__wrapper-text-finance {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
      }

      &:hover .advantages__wrapper-content-finance {
        top: 10%;
      }
    }

    &-car {
      position: relative;

      &:hover .advantages__wrapper-text-car {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
      }

      &:hover .advantages__wrapper-content-car {
        top: 34.5%;
      }
    }
  }
}

@include bp(1100px) {
  .advantages {
    max-width: 747px;
    grid-column-gap: 20px;
    padding-top: 143px;

    &__title {
      font-size: 2.1rem;;
      text-align: center;
    }
    &__wrapper {
      &-finance {
        left: -13%;
        margin-top: -48px;
      }
      &-vehicle {
        padding-top: 85px;
        left: 20%;
      }
      &-car {
        padding-top: 83px;
        left: -50%;
      }
      &-text {
        &-vehicle {
          display: block;
        }
        &-finance {
          display: block;
        }
        &-car {
          display: block;
        }
        &-item {
          font-size: 0.7rem;
          margin-top: -36px;
          line-height: 20px;
          padding-left: 20px;
        }
      }
      &-content {
        &-title {
          padding-top: 1px;
          font-size: 1rem;
          padding-left: 2px;
        }
        &-finance {
          top: 7%;
          left: 50.6%;
        }
        &-vehicle {
          img {
            width: 46px;
            margin-left: 27px;
          }
        }
      }
    }
    &__img {
      height: auto;
      width: 400px;
    }
  }
}

@include bp(766px) {
  .advantages {
    max-width: 350px;
    &__title {
      font-size: 20px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
      justify-content: center;
      &-vehicle {
        text-align: center;
        left: 0;
      }
      &-finance {
        text-align: center;
        left: 0;
        img {
          transform: rotate(180deg);
        }
      }
      &-car{
        text-align: center;
        left: 0;
      }
      &-content {
        &-finance {
          top: 120px;
        }
      }
      &-text {
        &-finance {
          top: 120px;
        }
      }
    }
  }
}
