#customer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 283px;
  padding-bottom: 40px;
}
.customer{
  &__title {
    color: $mainColor;
    text-transform: capitalize;
    font-weight: bold;
    word-spacing: -7px;
    padding-left: 3px;
    @extend %h2-title;
  }
  &__content {
    color: $textColor;
    line-height: 159%;
    padding-top: 15px;
    padding-left: 6px;
    max-width: 440px;
    @extend %regular-text;
  }
}

.blocks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  &__description {
    &-text{
    color: $mainColor;
    font-weight: bold;
    padding-bottom: 53px;
    padding-top: 50px;
    padding-left: 5px;
    @extend %h4-title;
    }
    &-link {
      &-btn {
        text-transform: uppercase;
        color: $whiteColor;
        text-decoration: none;
        border-radius: 2px;
        padding: 15px 45px;
        margin-left: 6px;
        font-size: 1rem;
        font-weight: bold;
        background: $purpleColor;
        @extend %btn-bold;
      }
    }
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: -128px;
    padding-left: 12px;
    &-item {
      background-color: $whiteColor;
      width: 262px;
      height: 144px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      @extend %bsg;
      padding-left: 36px;

      &-number {
        color: $purple;
        font-weight: bold;
        text-align: left;
        @extend %h2-title;
      }
      &-comment {
        color: $mainColor;
        text-align: left;
        @extend %regular-text;
      }
    }
  }
}



@include bp(1100px) {
  #customer {
    max-width: 700px;
    grid-column-gap: 20px;
    margin-top: 170px;
  }
  .customer {
    &__title {
      font-size: 25px;
    }

    &__content {
      font-size: 11px;
    }
  }
  .blocks {
    &__description {
      &-text {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      &-link {
        &-btn {
          padding: 12px 21px;
          font-size: 12px;
        }
      }
    }

    &__main {
      margin-top: -80px;
      &-item {
        width: 173px;
        height: 105px;

        &-number {
          font-size: 30px;
        }

        &-comment {
          font-size: 11px;
        }
      }
    }
  }
}
@include bp(766px) {
  #customer {
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
  }
  .blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "main" "descr";
    &__main{
      grid-area: main;
      margin-top: 40px;
    }
    &__description {
      grid-area: descr;
    }
  }

}