section {
  overflow: hidden;
}
.delivery {

  &-page {
    overflow: visible;
    height: calc(100vh + 512px);
  }

  position: sticky;
  top: 20%;
  left: 26%;
  transform: translateY(-10%);
  padding: 20px 30px;
  width: 685px;
  height: 354px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  //margin-top: 7px;
  z-index: 1;
  background: $white;
  text-align: center;
  border-radius: 5px;
  background-color: rgba($white, .97);

  &__title {
    color: $black;
    margin-top: 53px;
    word-spacing: -4px;
    text-transform: capitalize;
    @extend %h2-title;
  }

  &__message {
    color: $purple;
    margin-top: 7px;
    word-spacing: -2px;
    @extend %h3-title;
    text-transform: capitalize;
  }

  &__description {
    color: $gray;
    width: 78%;
    text-align: center;
    margin: 31.31px auto 0 auto;
    @extend %regular-text;
  }
}

.lexus {
  position: sticky;
  top: 20%;
  margin-top: -340px;
  text-align: right;
  overflow: hidden;
  img {
    margin-right: -200px;
  }
}

.honda {
  position: sticky;
  top: 25%;
  //margin-left: -200px;
  margin-top: -60px;
  overflow: hidden;
  img {
    margin-left: -200px;
  }
}

.lexus img {

  width: 620px;
  padding-top: 7px;
}

.honda img {

  width: 620px;
}

@include bp(1100px) {
  .lexus {
    margin-top: -100px;
  }
  .delivery {
    width: 583px;
    height: 266px;

    &__title {
      margin-top: 20px;
      font-size: 25px;
    }
    &__message{
      font-size: 20px;
    }

    &__description {
      margin: 20px auto;
      font-size: 12px;
    }
  }
}
@include bp(1100px) {
  .delivery {
    left: 28%;
    top: 34%;
    width: 500px;
    margin: 0;
    margin-left: -250px;
    height: 260px;
    &__title {
      padding-top: 0;
      font-size: 35px;
    }
    &__message {
      margin-top: -4px;
      font-size: 23px;
      text-transform: capitalize;
    }
    &__description {
      margin: 9px auto;
      font-size: 11px;
      line-height: 21px;
    }
  }
  .lexus {
    img {
      width: 410px;
      padding-top: 40px;
      margin-right: -122px;
    }
  }
  .honda {
    img {
      margin-left: -97px;
      width: 430px;
      margin-top: -41px;
    }
  }
}
@include bp(766px) {
  .delivery {
    width: 271px;
    height: 230px;
    &__title {
      font-size: 16px;
      margin-top: 0;
    }
    &__message {
      font-size: 14px;
      margin-top: -25px;
    }
    &__description {
      font-size: 11px;
      margin: 15px auto;
      margin-top: 0;
      line-height: 15px;
    }
  }
  .lexus {
    margin-top: 0;
    text-align: center;
    margin-left: 150px;
    img {
      width: 242px;
    }
  }
  .honda {
    img {
    width: 242px;
    margin-left: -100px;
    }
  }
}