.c-header {

  &__burger {
    display: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;
    padding-top: 18px;
    position: fixed;
    z-index: 10;
    opacity: 1;
    background-color: $whiteColor;
    width: 100%;
    top: 0;
    .container {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
      max-width: rem(1197);
      margin: 0 auto;
    }
    &-vac {
      padding-bottom: 5px;
    }
    &-logo {
      display: flex;
      justify-content: space-evenly;
      width: 120px;
      align-items: center;

      &-title {
        color: $purple;
        font-size: 22px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    &-navbar {
      margin: 7px 0px 0px 103px;
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        .list-menu {
          margin-right: 36px;
          &:last-child {
            margin-right: 0;
          }
        }
        &-nav {
          position: relative;
        }
        &-nav{
          &:hover .c-header__header-navbar-wrapper-links {
            opacity: 1;
            top: 18px;
          }
        }

        &-links {
          position: absolute;
          opacity: 0;
          transition: opacity .3s;
          z-index: 1;
          top: -99999px;
          left: 50%;
          transform: translateX(-45%);

          &-holder {
            background: $white;
            padding-top: 53px;
            padding-left: 26px;
            width: 161px;
          }
        }

        &-links li {
          list-style: none;
          cursor: pointer;
          padding-bottom: 24px;
          //padding: 25px 0;
        }
      }

      &-wrapper a{
        @extend %menu-text;
        color: $main_color;
        text-decoration: none;
        width: max-content;
      }

      &-wrapper-select {
        &-btn {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          margin-left: 4px;
        }

      }
    }

    &-contact {
      @extend %df;
      @extend %aic;
      &-btn {
        position: relative;
        &-request {
          @extend %btn-border;
          margin-right: 15px;
        }

        &-contact {
          @extend %btn-fill;
          width: rem(166);
        }
      }
    }
  }
  &__span {
    font-size: 1rem;
  }
}
.footer__subscribe-info-input {
  line-height: rem(25);
}
@include bp(1100px) {
  body {
    padding-top: 57px !important;
  }
  .c-header {
    &__span {
      font-size: 0.75rem;
    }
    &__burger {
      display: block;
      position: absolute;
      top: 62%;
      right: 24px;
      transform: translateY(-50%);
    }
    &__header {
      padding-top: 0;
      padding-bottom: 12px;
      &-logo {
        padding-left: 21px;
        padding-top: 4px;
        img {
          width: 95px;
        }
      }
      &-contact {
        &-btn {
          &-request {
            width: 151px;
            height: 36px;
            margin-right: 14px;
            margin-top: 9px;
            font-size: 0.75rem;
          }
          &-contact {
            width: 125px;
            height: 34px;
            margin-top: 11px;
            margin-right: 99px;
          }
        }
      }
      &-navbar {
        display: none;
      }
    }
  }
}

@include bp(470px) {
  body {
    padding-top: 43px !important;
  }
  .c-header{
    &__header-contact-btn-request {
      display: none;
    }
    &__header-logo {
      margin-left: 13px;
      img {
        width: 95px;
        margin-left: 5px;
        margin-top: 4px;
      }
      p {
        margin-left: 4px;
        margin-top: -20px;
      }
    }
    &__header {
      padding: 13px 0;
      &-contact {
        margin-right: 67px;
        margin-top: 2px;
        &-btn {
          &-contact {
            width: 7.7rem;
            height: 2rem;
          }
        }
      }
    }
    &__burger {
      right: 21px;
      top: 53%;
    }
  }
}
.contact-form {
  .contact-form-active {
    display: block;
  }
  .thanks {
    display: none;
  }
  &.great {
    .contact-form-active {
      display: none;
    }
    .thanks {
      padding-top: 100px;
      display: block;
    }
  }
}
