.c-home {
  &__container {
    max-width: rem(1197);
    margin: 0 auto;
    padding-top: 26px;
  }

  &__content {
    background-image: url('../img/icons/HomePage/car-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 83vh;
  }

  &__wrapper-content {
    @extend %df;
    @extend %jcsb;
    //max-width: 100%;
    height: 85vh;

    &-text {
      padding-top: 107px;
      &-title {
        @extend %h1-title;
        max-width: 533px;
        color: $white;
      }

      &-btn {
        @extend %btn-fill-white;
        position: relative;
        z-index: 8;
        width: rem(212);
        margin-top: 70px;
      }
    }

    &-carusel {
      position: relative;

      &-holder img {
        width: 536px;
      }

      &-arrow {
        background: $white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 53px;
        font-size: 12px;
        opacity: .7;
        cursor: pointer;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;

        &-left {
          left: 0;
          cursor: pointer;
          z-index: 20;
          margin-top: -13px;
          margin-left: 37px;
        }

        &-right {
          right: 0;
          z-index: 20;
          cursor: pointer;
          margin-top: -14px;
          margin-right: -2px;
        }

        &-item {
          width: 11px;
          height: 22px;
        }
      }


      .swiper-container {
        height: 100%;
        width: 620px;
        background: transparent;
      }

      .swiper-wrapper {
        background: transparent;
        width: 610px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        width: 620px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }
  }
}
.c-home__wrapper-content-carusel .swiper-container {
  overflow: visible;
}
.c-home__wrapper-content-carusel .swiper-slide {
  opacity: 0;
  transition: all .3s ease;
  @extend %evt-none;
  &.swiper-slide-active {
    opacity: 1;
  }
}
@include bp(1100px) {
  .c-home {
    &__content {
      //height: 100vh;
      background-position: center top;
      max-height: 632px;
    }
    &__container {
      max-width: 747px;
      padding-top: 83px;
    }
    &__wrapper {
      &-content {
        align-items: flex-start;
        background-size: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        &-text {
          display: flex;
          align-self: center;
          justify-content: center;
          &-title {
            text-align: center;
            margin-bottom: 46px;
          }
          &-btn {
            position: absolute;
            top: 543px;
            margin-top: 0;
          }
        }
        &-carusel {
          &-holder {
            img {
              width: 450px;
            }
          }
        }
      }
    }
  }
}
@include bp(766px) {
  //.swiper-container {
  //    width: 350px !important;
  //}
  .c-home{
    max-width: 350px;
    &__content {
      height: 74vh;
    }
    &__container {
      max-width: 350px;
      margin: 0 auto;
    }
    &__wrapper{
      &-content{
        &-text{
          display: flex;
          justify-content: center;
          &-title{
            font-size: 30px;
            width: 310px;
            line-height: 30px;
            margin-top: -19px;
            margin-left: 3px;
          }
          &-btn {
            position: absolute;
            top: 550px;
            margin-top: 0;
          }
        }
        &-carusel {
          width: 100%;
          &-holder {
            img {
              width: 250px;
            }
          }
        }
      }
    }
  }
}

//@include bp(1200px) {
//  .c-home__wrapper-content-text-btn {
//      top: 750px;
//  }
//}
//@include bp(800px) {
//  .c-home__wrapper-content-text-btn {
//    top: 700px;
//  }
//}


