

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

.close-btn {
  color: $black;
  cursor: pointer;
  img {
    @extend %evt-none;
  }
}

//.nav

.contact-form {
  position: fixed;
  top: 0;
  right: 0;
  width: rem(703);
  height: 100vh;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
  background-color: $white;
  z-index: 20;
  padding: 36px 0 0 59px;
  &.open {
    transform: translateX(0);
  }
  //padding: 15px 20px;
}

.nav-container {
  max-width: rem(430);
  //margin: 36px auto 36px auto;
}

.nav {
  &-title {
    @extend %h4-title;
    color: $main_color;
    margin: 77px 0 10px 0;
  }
  &-text {
    @extend %regular-text;
    color: $text_color;
  }
  &__form {
    margin-top: 35px;
  }

  &__login {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    border: 1px solid #E7E7E7;
    border-radius: 2px;
    width: 100%;
    height: rem(50);
    margin-bottom: 10px;
    padding-left: rem(17);
    background-color: $white;

    &-icon {
      &-user {
        width: rem(17);
        height: rem(33);
        padding-top: 7px;
      }
      &-phone {
        width: 12px;
        height: 20px;
        margin-left: 2px;
        margin-right: 3px;
      }
      &-email {
        width: 15px;
        height: 15px;
        margin-left: 1px;
        margin-right: 1px;
      }
    }

    &-textfield {
      height: 100%;
      width: 100%;
      padding-left: rem(12);
      @extend %input-reset;
      color: $text_color;
      @extend %regular-text;
      border-radius: 2px;
    }
  }

  &__contacts {
    &-title {
      @extend %semibold-text;
      color: $main_color;
      margin-top: 57px;
      margin-bottom: 17px;
    }
  }

  &__wrapper {
    @extend %df;
    @extend %jcsb;
    width: 100%;
    padding-right: 6px;
    &-contact {
      @extend %df;
      @extend %aic;
      @extend %jcsb;

      &-text {
        @extend %text16px;
        color: $gray;
        margin-left: 12px;
      }
    }
  }

  &__submit {
    &-btn {
      @extend %btn-fill;
      width: 100%;
      margin-top: 30px;
    }
  }

  &__social-networks {
    @extend %df;
    margin-top: 50px;
    &-item {
      width: 35px;
      height: 35px;
      background-color: $purple;
      border-radius: 2px;
      padding: 10px;
      margin-right: 15px;
    }
  }
}

.sidebarMenuInner li {
  list-style: none;
  color: $black;
  padding: 20px;
  cursor: pointer;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0;
  transform: translateX(-50%);
  left: 67px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

@include bp(800px) {
  #sidebarMenu {
    width: 541px;
  }
}

