.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 100;
  transform: translateX(100%);
  &.open {
    transform: translateX(0);
  }
}

.sidenav li {
  list-style: none;
  padding: 8px;
}

.sidenav ul {
  padding: 0;
  margin-top: 20px;
}

.sidenav {

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__contact {
    @extend %btn-full-white;
    border: 1px solid $purple;
    border-radius: 2px;
    width: 144px;
    padding: 15px;
    order: 1;
  }

  &__container {
    max-width: 300px;
    margin: 0 auto;
  }

  &__important {
    @extend %h3bold20px;
    color: $black;
  }

  &__etc {
    @extend %text16px;
    color: $black;
  }
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  order: 2;
}

@include bp(800px) {
  .sidenav__contact {
    display: none;
  }
}

@include bp(450px) {
  .sidenav {
    width: 100%;
  }

  .sidenav .closebtn {
    position: static;
    order: 2;
    margin: 0;
  }

  .sidenav__contact {
    display: block;
    text-align: center;
    width: 224px;
  }

}

