.question {
  padding-top: 295px;

  &__text {
    @extend %default-grid;

    &-title {
      color: $mainColor;
      font-weight: bold;
      text-transform: capitalize;
      letter-spacing: 0px;
      @extend %h2-title;
    }

    &-content {
      color: $textColor;
      @extend %regular-text;
      padding-top: 9px;
    }
  }

  &__info {
    @extend %df;
    @extend %jcsb;
    align-items: flex-end;
    //@extend %default-grid;

    &-video {
      &-text {
        color: $mainColor;
        font-weight: bold;
        margin-top: 73px;
        margin-bottom: 38px;
        @extend %h4-title;
        padding: 0;
      }
    }

    &-call {
      padding-top: 40px;
      padding-left: 59px;
      width: rem(583);
      height: rem(319);
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-radius: 5px;

      &-title {
        color: $mainColor;
        font-size: 25px;
        font-weight: bold;
        word-spacing: 1.9px;
        padding-top: 1px;
        line-height: 35px;
      }

      &-phone {
        display: flex;
        align-items: center;
        margin-bottom: 54px;
        margin-top: 23px;

        &-number {
          color: $purple;
          @extend %bold;
          font-size: rem(30);
          margin-left: 19px;
          padding-top: 5px;
        }
      }

      &-btn {
        @extend %btn-fill;
        width: rem(212);

      }
    }
  }
}

@include bp(1100px) {
  .question {
    margin-top: 170px;
    &__text{
      grid-column-gap: 20px;
      max-width: 747px;
      align-items: center;
      &-title{
        font-size: 35px;
      }
      &-content{
        font-size: 10px;
      }
    }
    &__info{
      max-width: 747px;
      grid-column-gap: 20px;
      &-video{
        &-text{
          font-size: 20px;
        }
        iframe {
          width: 365px;
        }
      }
      &-call {
        &-title{
          font-size: 20px;
        }
        &-phone{
          &-text{
            width: 15px;
          }
          &-number{
            font-size: 20px;
          }
        }
        &-btn{
          padding: 12px 21px;
        }
      }
    }
  }
}

@include bp(766px) {
  .question{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 170px;
    &__text{
      grid-template-columns: repeat(1, 1fr);
      text-align: left;
      &-title{
        font-size: 25px;
      }
      &-content{
        margin-top: 15px;
        width: 102%;
        line-height: 1.31125rem;
      }
    }
    &__info {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "call" "video";
      &-video{
        grid-area: video;
      }
      &-call {
        grid-area: call;
        margin-top: 50px;
      }
    }
  }
}