.steps {
  padding-top: 250px;

  &__title {
    max-width: 1200px;
    margin: 0 auto;
    word-spacing: -2.2px;
    color: $black;
    @extend %h3-title;
    text-transform: capitalize;

    span {
      margin-right: 4px;
      word-spacing: -3px;
      font-weight: bold;
      color: $purple;
    }
  }
}

.contact {
  @extend %default-grid;
  margin-top: -72px;

  &__info {
    &-phone {
      &-xs1 {
        position: relative;
        z-index: 0;
        left: -9%;
        padding-top: 106px;
        margin-left: -5px;
      }

      &-xs {
        position: absolute;
        z-index: 1;
        left: 15%;
        padding-top: 81px;
        margin-left: -88px;
      }
    }
  }

  &__content {
    &-item {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: 40px;
      }
      &:nth-child(3) {
        margin-top: 37px;
      }
      &:nth-child(4) {
        margin-top: 35px;
      }
      &:nth-child(5) {
        margin-top: 35px;
      }

      &-img {
        display: flex;
        justify-content: center;
        align-items: center;

        &-number {
          color: $whiteColor;
          font-size: 25px;
          font-weight: bold;
          background-image: url("../img/about/polygon103.svg");
          background-size: 100%;
          height: 78px;
          width: 68px;
          background-repeat: no-repeat;
          display: flex;
          align-items: center;
          padding-left: 10px;
        }
      }

      &-text {
        margin-left: 22px;
        padding-bottom: 3px;

        &-title {
          color: $mainColor;
          @extend %semibold-text;
        }

        &-description {
          color: $textColor;
          font-size: 16px;
          @extend %regular-text
        }
      }
    }
  }
}

@include bp(1100px) {
  .steps {
    margin: 0 auto;
    padding-top: 212px;
    max-width: 750px;

    &__title {
      font-size: 23px;
      text-transform: capitalize;
      padding-left: 0;
      line-height: 36px;
      word-spacing: 1px;
      max-width: 380px;
      margin-left: 0;
    }
  }
  .contact {
    grid-column-gap: 20px;
    max-width: 700px;

    &__info {
      &-phone {
        &-xs1 {
          width: 230px;
          padding-top: 82px;
          left: -78px;
        }

        &-xs {
          width: 300px;
          left: 250px;
          padding-top: 69px;
        }
      }
    }

    &__content {
      margin-top: -29px;
      padding-left: 6px;
      &-item {
        &-img-number {
          width: 50px;
          height: 55px;
          font-size: 20px;
        }

        &-text {
          padding-top: 5px;
          margin-left: 16px;
          &-title {
            font-size: 16px;
          }

          &-description {
            font-size: 12px;
            line-height: 21px;
            word-spacing: -1px;
          }
        }
      }

      &-item:not(:first-child) {
        padding-top: 15px;
        margin-top: 0;
      }
    }
  }
}

@include bp(766px) {
  .steps {
    margin-top: 10px;
    max-width: 350px;

  }
  .contact {
    grid-template-areas: "content" "info";
    grid-template-columns: repeat(1, 1fr);
    max-width: 350px;

    &__info {
      grid-area: info;
      margin-top: 20px;
    }

    &__content {
      grid-area: content;
      margin-top: 20px;
    }
  }
}

@include bp(800px) {
  .contact__info-phone-xs {
    left: 10%;
  }
}
