footer{
  background-color: $purple;
}
.footer {
  @extend %df;
  @extend %jcsb;
  //max-width: 1200px;
  //margin: 0 auto;
  height: max-content;
  padding: 38px 0;
  .container {

  }
  &__social {
    width: 20%;

    &-logo {
      @extend %df;
      @extend %aic;

      &-text {
        font-size: 23px;
        color: $whiteColor;
        font-weight: bold;
        padding-left: 8px;

      }
    }

    &-sites {
      margin-top: 37px;

      &-img {
        @extend %df;
        @extend %aic;
        &-insta,
        &-twitter,
        &-facebook,
        &-youtube {
          @extend %df;
          @extend %aic;
          @extend %jcc;
          background-color: $white;
          border-radius: 2px;
          width: rem(24);
          height: rem(24);
          margin-right: 10px;
        }
        padding-bottom: 10px;
        &-insta {
          margin-left: -3px;
          img {
            width: rem(13);
            height: rem(13);
          }
        }

        &-twitter {
          img {
            width: rem(13);
            height: rem(10);
          }
        }

        &-facebook {
          img {
            width: rem(6);
            height: rem(12);
          }
        }

        &-youtube {
          margin-right: 0;
          img {
            width: rem(13);
            height: rem(9);
          }
        }
      }
    }
  }

  &__subscribe {
    width: 50%;
    padding-left: 3px;

    &-title {
      @extend %regular-text;
      color: $whiteColor;
      margin-bottom: 15px;
    }

    &-info {
      @extend %df;
      justify-content: flex-start;


      &-input {
        padding-left: 25px;
        background-color: $cta;
        border: 1px solid $light_cta;
        color: $white;
        width: 297px;
        height: 50px;
      }

      &-input::placeholder {
        color: $whiteColor;
        @extend %regular-text;
      }

      &-btn {
        @extend %btn-fill-white;
        width: rem(186);
        margin-left: 10px;
      }

      &-btn:hover {
        background-color: $purple;
        color: $whiteColor;
        border: 1px solid $whiteColor;
      }
    }
  }

  &__info {
    @extend  %df;
    @extend  %fdc;
    align-items: flex-end;
    padding-top: 4px;
    margin-right: -4px;
    //margin-top: -50px;
    //margin-right: -380px;

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 40%;
      &-terms {
        color: $white;
        //margin-left: 200px;
        @extend %menu-text;
      }

      &-privacy {
        color: $white;
        margin-left: 30px;
        @extend %menu-text;
      }
    }

    &-content {
      margin-top: 51px;
      color: $white;

    }
  }
}
@include bp(800px) {
  .footer {
    flex-wrap: wrap;
    max-width: 620px;

    &__social {
      width: 30%;
    }

    &__subscribe {
      width: 61%;
      padding-left: 70px;
    }

    &__info {
      width: 50%;
      margin: 0;
      order: 2;
      display: flex;
      justify-content: space-between;

      &-title {
        order: 1;
        width: 50%;
      }

      &-content {
        margin: 0;
        order: 1;
      }
    }
  }
}

@include bp(632px) {
  .footer {
    max-width: 465rem;
    padding-top: 10px;
    margin: 0 auto;
    &__social{
      order: 1;
      width: max-content;
      &-sites {
        margin-top: 12px;
        &-img {

        }
        &_img-insta {
          width: 16px;
          height: 16px;
        }
        &_img-twitter {
          width: 16px;
          height: 16px;
        }
        &_img-facebook {
          width: 16px;
          height: 16px;
        }
        &_img-youtube {
          width: 16px;
          height: 16px;
        }
      }

      &-sites {
        width: 100%;
      }
    }
    &__subscribe{
      order: 3;
      margin: 15px 0;
      &-info {
        &-input {
          width: 189px;
        }
      }
    }
    &__info{
      order: 2;
      justify-content: flex-start;
      width: 70%;
    }
    &__info-title{
      order: 4;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      &-terms {
        margin-top: -20px;
      }
      &-privacy {
        margin-top: -20px;
      }
    }
  }
}

@include bp(375px) {
  .footer {
    max-width: 300px;
  }
}
.footer__info-title {
  margin-top: 30px;
}
.footer__info-content {
  max-width: 200px;
  margin-top: 0;
  font-size: rem(14);
}
