body {
    font-size: 14px;
    padding-top: 77px!important;
    @extend %default-font;
    overflow-x: hidden;

    &.overflow--active {
        overflow: hidden;
        .overflow-black {
            display: block;
        }
    }
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .3);
    width: 100%;
    height: 100vh;
    z-index: 10;
    @extend %evt-none;
    opacity: 0;
    transition: all .5s ease;
    cursor: pointer;
    &.show {
        opacity: 1;
        @extend %evt-all;
    }
}

.hidden {
    display: none;
}
