// ================ Gilroy-ExtraBold ================
@include font_face(Gilroy-ExtraBold, Gilroy-ExtraBold);

%extra-bold {
    font-family: 'Gilroy-ExtraBold', sans-serif;
}
// ################ Gilroy-ExtraBold ################

// ================ Gilroy-Bold ==============
@include font_face(Gilroy-Bold, Gilroy-Bold);

%bold {
    font-family: 'Gilroy-Bold', sans-serif;
}
// ################### Gilroy-Bold ###################

// ================ Gilroy-Regular ==================
@include font_face(Gilroy-Regular, Gilroy-Regular);

%regular {
    font-family: 'Gilroy-Regular', sans-serif;
}
// ################### Gilroy-Regular ################

// ================ Gilroy-SemiBold ==================
@include font_face(Gilroy-SemiBold, Gilroy-SemiBold);

%semiBold {
    font-family: 'Gilroy-SemiBold', sans-serif;
}
// ################### Gilroy-SemiBold ################

// ====================== Font sizes =======================
%ttu {
    text-transform: uppercase;
}

%default-font {
    font-family: Gilroy, sans-serif;
}

%h2bold60px {
    font-size: 60px;
    font-weight: 800;
    color: $white;
    @extend %default-font;
}

%h2bold45px {
    font-size: 45px;
    font-weight: 600;
    @extend %default-font;
}

%h2bold30px {
    font-size: 30px;
    font-weight: bold;
    @extend %default-font;
}

%h2bold25px {
    font-size: 25px;
    font-weight: bold;
    @extend %default-font;
}

%h3bold20px {
    font-size: 20px;
    @extend %default-font;
    font-weight: 600;
}

%text16px {
    font-size: 16px;
    color: $gray;
}

// ==> Normal style
// Heading / H1
%h1-title {
    @extend %extra-bold;
    font-size: rem(60);
    line-height: rem(65);
    letter-spacing: .02em;
}
// Heading / H2
%h2-title {
    @extend %bold;
    font-size: rem(45);
    line-height: rem(63);
    letter-spacing: .02em;
}
// Heading/H3
%h3-title {
    @extend %bold;
    font-size: rem(30);
    line-height: rem(40);
    letter-spacing: .02em;
}
// Heading / H4
%h4-title {
    @extend %bold;
    font-size: rem(25);
    line-height: rem(35);
    letter-spacing: .02em;
}
// Text / Semibold 20
%semibold-text {
    @extend %semiBold;
    font-size: rem(20);
    line-height: rem(34);
}
// Text / Regular 16
%regular-text {
    @extend %regular;
    font-size: rem(16);
    line-height: rem(25);
}
// Button / Bold 16
%btn-bold {
    @extend %bold;
    font-size: rem(16);
    line-height: rem(14);
    letter-spacing: .02em;
    text-transform: uppercase;
}
// Text / Menu
%menu-text {
    @extend %regular;
    font-size: rem(16);
    line-height: rem(14);
}