.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 360px) {
  .container {
    max-width: 320px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: rem(1190);
    padding: 0;
  }
}
