.overlay
footer
    .container
        div.footer
            div.footer__social
                a(href="/").footer__social-logo
                    svg(width='99', height='28', viewBox='0 0 99 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M17.4041 10.9428H6.52624L0 4.3705e-09H7.7797C8.72421 -3.78211e-05 9.65258 0.245452 10.4741 0.712484C11.2956 1.17952 11.9822 1.85212 12.4667 2.66456L17.4041 10.9428Z', fill='#D2D6FF')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M31.2136 2.62079L26.1436 10.9428H6.48535L14.8064 24.7189C15.2929 25.5243 15.9785 26.1902 16.797 26.6524C17.6155 27.1145 18.5391 27.3572 19.4786 27.3569H24.2365C25.1828 27.3568 26.1127 27.1103 26.9352 26.6415C27.7577 26.1728 28.4445 25.4979 28.9282 24.683L37.0839 10.9428L43.7505 5.95503e-10H35.8741C34.9383 -1.38337e-05 34.0181 0.241015 33.202 0.699954C32.3859 1.15889 31.7012 1.82033 31.2136 2.62079Z', fill='white')
                        path(d='M57.474 23L52.069 6.9H55.519L59.452 19.274L63.362 6.9H66.835L61.407 23H57.474ZM78.2757 23L77.3097 20.102H70.8927L69.9267 23H66.4997L72.1347 6.9H76.0677L81.7257 23H78.2757ZM71.9047 17.135H76.3207L74.1127 10.557L71.9047 17.135ZM90.801 23.322C88.3783 23.322 86.3773 22.517 84.798 20.907C83.2187 19.297 82.429 17.3113 82.429 14.95C82.429 12.5733 83.2187 10.5877 84.798 8.993C86.3773 7.383 88.3783 6.578 90.801 6.578C92.2577 6.578 93.5993 6.923 94.826 7.613C96.068 8.28767 97.034 9.20767 97.724 10.373L94.987 11.96C94.5883 11.2393 94.021 10.6797 93.285 10.281C92.549 9.867 91.721 9.66 90.801 9.66C89.237 9.66 87.972 10.1507 87.006 11.132C86.0553 12.1133 85.58 13.386 85.58 14.95C85.58 16.4987 86.0553 17.7637 87.006 18.745C87.972 19.7263 89.237 20.217 90.801 20.217C91.721 20.217 92.549 20.0177 93.285 19.619C94.0363 19.205 94.6037 18.6453 94.987 17.94L97.724 19.527C97.034 20.6923 96.0757 21.62 94.849 22.31C93.6223 22.9847 92.273 23.322 90.801 23.322Z', fill='white')
                div.footer__social-sites
                    div.footer__social-sites-img
                        a.footer__social-sites-img-insta
                            img(src='img/social/instagram.svg', alt='instagram')
                        a.footer__social-sites-img-twitter
                            img(src='img/social/twitter.svg', alt='twitter')
                        a.footer__social-sites-img-facebook
                            img(src='img/social/facebook.svg', alt='facebook')
                        a.footer__social-sites-img-youtube
                            img(src='img/social/youtube.svg', alt='youtube')
            div.footer__subscribe
                h2.footer__subscribe-title Subscribe Newsletter
                div.footer__subscribe-info
                    input.footer__subscribe-info-input(type='text', placeholder='Your Email')
                    button.footer__subscribe-info-btn Subscribe
            div.footer__info
                .footer__terms
                    a.footer__info-title-terms(href='#') Terms
                    a.footer__info-title-privacy(href='#') Privacy
                div.footer__info-title
                    p.footer__info-content Vehicle Approval Centre 2019. © All rights reserved.
                    a.design-by
                        svg(class="design-by-icon" width='101', height='21', viewBox='0 0 101 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M4.2 5.6C5.344 5.6 6.288 6.008 7.032 6.824C7.784 7.632 8.16 8.624 8.16 9.8C8.16 10.976 7.784 11.972 7.032 12.788C6.288 13.596 5.344 14 4.2 14H0.96V5.6H4.2ZM4.2 13.208C5.12 13.208 5.872 12.88 6.456 12.224C7.048 11.568 7.344 10.76 7.344 9.8C7.344 8.84 7.048 8.032 6.456 7.376C5.872 6.72 5.12 6.392 4.2 6.392H1.8V13.208H4.2ZM12.2487 7.856C13.1367 7.856 13.8527 8.172 14.3967 8.804C14.9487 9.428 15.2247 10.168 15.2247 11.024C15.2247 11.112 15.2167 11.236 15.2007 11.396H9.93272C10.0127 12.004 10.2687 12.488 10.7007 12.848C11.1407 13.2 11.6807 13.376 12.3207 13.376C12.7767 13.376 13.1687 13.284 13.4967 13.1C13.8327 12.908 14.0847 12.66 14.2527 12.356L14.9487 12.764C14.6847 13.188 14.3247 13.524 13.8687 13.772C13.4127 14.02 12.8927 14.144 12.3087 14.144C11.3647 14.144 10.5967 13.848 10.0047 13.256C9.41272 12.664 9.11672 11.912 9.11672 11C9.11672 10.104 9.40872 9.356 9.99272 8.756C10.5767 8.156 11.3287 7.856 12.2487 7.856ZM12.2487 8.624C11.6247 8.624 11.1007 8.812 10.6767 9.188C10.2607 9.556 10.0127 10.036 9.93272 10.628H14.4087C14.3287 9.996 14.0847 9.504 13.6767 9.152C13.2687 8.8 12.7927 8.624 12.2487 8.624ZM16.8742 9.572C16.8742 9.844 16.9942 10.06 17.2342 10.22C17.4742 10.38 17.7662 10.504 18.1102 10.592C18.4542 10.68 18.7982 10.78 19.1422 10.892C19.4862 10.996 19.7782 11.176 20.0182 11.432C20.2582 11.68 20.3782 12.008 20.3782 12.416C20.3782 12.928 20.1742 13.344 19.7662 13.664C19.3662 13.984 18.8462 14.144 18.2062 14.144C17.6302 14.144 17.1382 14.016 16.7302 13.76C16.3302 13.504 16.0502 13.172 15.8902 12.764L16.5622 12.368C16.6742 12.68 16.8742 12.928 17.1622 13.112C17.4582 13.288 17.8062 13.376 18.2062 13.376C18.5982 13.376 18.9262 13.3 19.1902 13.148C19.4542 12.988 19.5862 12.744 19.5862 12.416C19.5862 12.144 19.4662 11.928 19.2262 11.768C18.9862 11.608 18.6942 11.484 18.3502 11.396C18.0062 11.308 17.6622 11.212 17.3182 11.108C16.9742 10.996 16.6822 10.816 16.4422 10.568C16.2022 10.312 16.0822 9.98 16.0822 9.572C16.0822 9.084 16.2742 8.676 16.6582 8.348C17.0502 8.02 17.5422 7.856 18.1342 7.856C18.6222 7.856 19.0502 7.968 19.4182 8.192C19.7862 8.408 20.0582 8.704 20.2342 9.08L19.5742 9.464C19.3422 8.904 18.8622 8.624 18.1342 8.624C17.7902 8.624 17.4942 8.708 17.2462 8.876C16.9982 9.036 16.8742 9.268 16.8742 9.572ZM22.4448 6.56C22.3328 6.672 22.1968 6.728 22.0368 6.728C21.8768 6.728 21.7408 6.672 21.6288 6.56C21.5168 6.448 21.4608 6.312 21.4608 6.152C21.4608 5.992 21.5168 5.856 21.6288 5.744C21.7408 5.632 21.8768 5.576 22.0368 5.576C22.1968 5.576 22.3328 5.632 22.4448 5.744C22.5568 5.856 22.6128 5.992 22.6128 6.152C22.6128 6.312 22.5568 6.448 22.4448 6.56ZM21.6408 14V8H22.4328V14H21.6408ZM29.2734 8H30.0654V13.76C30.0654 14.624 29.7694 15.304 29.1774 15.8C28.5854 16.296 27.8774 16.544 27.0534 16.544C25.6454 16.544 24.6974 16.056 24.2094 15.08L24.9054 14.684C25.2654 15.412 25.9814 15.776 27.0534 15.776C27.7414 15.776 28.2814 15.592 28.6734 15.224C29.0734 14.864 29.2734 14.376 29.2734 13.76V12.824C28.7214 13.704 27.9134 14.144 26.8494 14.144C25.9934 14.144 25.2614 13.84 24.6534 13.232C24.0534 12.624 23.7534 11.88 23.7534 11C23.7534 10.12 24.0534 9.376 24.6534 8.768C25.2614 8.16 25.9934 7.856 26.8494 7.856C27.9134 7.856 28.7214 8.296 29.2734 9.176V8ZM25.2294 12.692C25.6854 13.148 26.2454 13.376 26.9094 13.376C27.5734 13.376 28.1334 13.148 28.5894 12.692C29.0454 12.228 29.2734 11.664 29.2734 11C29.2734 10.336 29.0454 9.776 28.5894 9.32C28.1334 8.856 27.5734 8.624 26.9094 8.624C26.2454 8.624 25.6854 8.856 25.2294 9.32C24.7734 9.776 24.5454 10.336 24.5454 11C24.5454 11.664 24.7734 12.228 25.2294 12.692ZM34.5503 7.856C35.2783 7.856 35.8503 8.08 36.2663 8.528C36.6903 8.968 36.9023 9.564 36.9023 10.316V14H36.1103V10.316C36.1103 9.78 35.9663 9.364 35.6783 9.068C35.3983 8.772 34.9983 8.624 34.4783 8.624C33.9023 8.624 33.4343 8.808 33.0743 9.176C32.7143 9.536 32.5343 10.096 32.5343 10.856V14H31.7423V8H32.5343V8.936C32.9823 8.216 33.6543 7.856 34.5503 7.856ZM41.2058 7.856C42.0938 7.856 42.8098 8.172 43.3538 8.804C43.9058 9.428 44.1818 10.168 44.1818 11.024C44.1818 11.112 44.1738 11.236 44.1578 11.396H38.8898C38.9698 12.004 39.2258 12.488 39.6578 12.848C40.0978 13.2 40.6378 13.376 41.2778 13.376C41.7338 13.376 42.1258 13.284 42.4538 13.1C42.7898 12.908 43.0418 12.66 43.2098 12.356L43.9058 12.764C43.6418 13.188 43.2818 13.524 42.8258 13.772C42.3698 14.02 41.8498 14.144 41.2658 14.144C40.3218 14.144 39.5538 13.848 38.9618 13.256C38.3698 12.664 38.0738 11.912 38.0738 11C38.0738 10.104 38.3658 9.356 38.9498 8.756C39.5338 8.156 40.2858 7.856 41.2058 7.856ZM41.2058 8.624C40.5818 8.624 40.0578 8.812 39.6338 9.188C39.2178 9.556 38.9698 10.036 38.8898 10.628H43.3658C43.2858 9.996 43.0418 9.504 42.6338 9.152C42.2258 8.8 41.7498 8.624 41.2058 8.624ZM50.6016 5.6H51.3936V14H50.6016V12.824C50.0496 13.704 49.2416 14.144 48.1776 14.144C47.3216 14.144 46.5896 13.84 45.9816 13.232C45.3816 12.624 45.0816 11.88 45.0816 11C45.0816 10.12 45.3816 9.376 45.9816 8.768C46.5896 8.16 47.3216 7.856 48.1776 7.856C49.2416 7.856 50.0496 8.296 50.6016 9.176V5.6ZM46.5576 12.692C47.0136 13.148 47.5736 13.376 48.2376 13.376C48.9016 13.376 49.4616 13.148 49.9176 12.692C50.3736 12.228 50.6016 11.664 50.6016 11C50.6016 10.336 50.3736 9.776 49.9176 9.32C49.4616 8.856 48.9016 8.624 48.2376 8.624C47.5736 8.624 47.0136 8.856 46.5576 9.32C46.1016 9.776 45.8736 10.336 45.8736 11C45.8736 11.664 46.1016 12.228 46.5576 12.692ZM59.2865 7.856C60.1425 7.856 60.8705 8.16 61.4705 8.768C62.0785 9.376 62.3825 10.12 62.3825 11C62.3825 11.88 62.0785 12.624 61.4705 13.232C60.8705 13.84 60.1425 14.144 59.2865 14.144C58.2225 14.144 57.4145 13.704 56.8625 12.824V14H56.0705V5.6H56.8625V9.176C57.4145 8.296 58.2225 7.856 59.2865 7.856ZM57.5465 12.692C58.0025 13.148 58.5625 13.376 59.2265 13.376C59.8905 13.376 60.4505 13.148 60.9065 12.692C61.3625 12.228 61.5905 11.664 61.5905 11C61.5905 10.336 61.3625 9.776 60.9065 9.32C60.4505 8.856 59.8905 8.624 59.2265 8.624C58.5625 8.624 58.0025 8.856 57.5465 9.32C57.0905 9.776 56.8625 10.336 56.8625 11C56.8625 11.664 57.0905 12.228 57.5465 12.692ZM67.785 8H68.625L66.057 14.552C65.825 15.144 65.493 15.608 65.061 15.944C64.637 16.288 64.161 16.44 63.633 16.4V15.656C64.353 15.736 64.901 15.32 65.277 14.408L65.433 14.036L62.745 8H63.585L65.841 13.028L67.785 8Z', fill='white')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M82.3733 0.656826C80.8336 1.65728 80.29 3.68602 79.2028 7.74349C78.1156 11.801 77.572 13.8297 78.4052 15.466C78.4814 15.6156 78.5654 15.7611 78.6568 15.9019C79.6573 17.4416 81.686 17.9852 85.7435 19.0724C89.801 20.1596 91.8297 20.7032 93.466 19.87C93.6156 19.7938 93.7611 19.7098 93.9019 19.6183C94.7948 19.0381 95.3527 18.1121 95.8759 16.645H94.7261C94.6435 16.645 94.5766 16.5781 94.5766 16.4955V16.4829C94.5766 16.3446 94.396 16.2729 94.2867 16.3577C93.896 16.6609 93.3985 16.8125 92.794 16.8125C92.0045 16.8125 91.3305 16.5095 90.7723 15.9033C90.214 15.2892 89.9348 14.5395 89.9348 13.6542C89.9348 12.769 90.214 12.0233 90.7723 11.4171C91.3305 10.803 92.0045 10.496 92.794 10.496C93.3985 10.496 93.896 10.6476 94.2867 10.9508C94.396 11.0356 94.5766 10.9639 94.5766 10.8256V8.42035C94.5766 8.33776 94.6435 8.27081 94.7261 8.27081H96.2215C96.3041 8.27081 96.371 8.33776 96.371 8.42035V15.086C96.588 14.3395 96.8149 13.4924 97.0724 12.5316C98.1596 8.47416 98.7032 6.44543 97.87 4.80915C97.7938 4.65954 97.7098 4.51405 97.6183 4.37327C96.6178 2.83356 94.5891 2.28996 90.5316 1.20276C86.4742 0.115567 84.4454 -0.428031 82.8092 0.40517C82.6595 0.481351 82.514 0.565352 82.3733 0.656826ZM88.0235 10.1371C88.3186 10.1371 88.5698 10.0334 88.7772 9.82603C88.9925 9.61069 89.1002 9.35547 89.1002 9.06038C89.1002 8.76529 88.9925 8.51406 88.7772 8.3067C88.5698 8.09136 88.3186 7.98369 88.0235 7.98369C87.7284 7.98369 87.4732 8.09136 87.2579 8.3067C87.0505 8.51406 86.9468 8.76529 86.9468 9.06038C86.9468 9.35547 87.0505 9.61069 87.2579 9.82603C87.4732 10.0334 87.7284 10.1371 88.0235 10.1371ZM87.1263 16.4955C87.1263 16.5781 87.1932 16.645 87.2758 16.645H88.7712C88.8538 16.645 88.9208 16.5781 88.9208 16.4955V10.813C88.9208 10.7304 88.8538 10.6634 88.7712 10.6634H87.2758C87.1932 10.6634 87.1263 10.7304 87.1263 10.813V16.4955ZM93.1529 15.1138C92.7302 15.1138 92.3873 14.9822 92.1241 14.719C91.8609 14.4558 91.7293 14.1009 91.7293 13.6542C91.7293 13.2076 91.8609 12.8527 92.1241 12.5895C92.3873 12.3263 92.7302 12.1947 93.1529 12.1947C93.5756 12.1947 93.9186 12.3263 94.1818 12.5895C94.445 12.8527 94.5766 13.2076 94.5766 13.6542C94.5766 14.1009 94.445 14.4558 94.1818 14.719C93.9186 14.9822 93.5756 15.1138 93.1529 15.1138Z', fill='white')
                            path(d='M98.9518 16.645C99.5746 16.645 100.076 16.1446 100.076 15.5235C100.076 14.9024 99.5746 14.4019 98.9518 14.4019C98.3291 14.4019 97.8333 14.9024 97.8333 15.5235C97.8333 16.1446 98.3291 16.645 98.9518 16.645Z', fill='white')
