div.overflow-black
header.c-header__header
    .container
        a(href="index.html").c-header__vac
            div.c-header__header-logo
                img(src="img/logo.svg" alt="someone")
        div.c-header__header-navbar
            ul.c-header__header-navbar-wrapper
                li.list-menu
                    a(href='about.html') About Us
                li.list-menu
                    a(href='loan.html') Loan Rates
                li.list-menu
                    a(href='calculator.html') Calculator
                li.list-menu
                    a(href='videos.html') Vehicle Videos
                //li.list-menu.c-header__header-navbar-wrapper-nav
                //    a.c-header__header-navbar-wrapper-select Resources
                //    div.c-header__header-navbar-wrapper-links
                //        ul.c-header__header-navbar-wrapper-links-holder
                //            li.c-header__header-navbar-wrapper-links-list
                //                a(href="loan.html").c-header__header-navbar-wrapper-links-link Loan Rates
                //            li.c-header__header-navbar-wrapper-links-list
                //                a(href="calculator.html").c-header__header-navbar-wrapper-links-link Calculator
                //            li.c-header__header-navbar-wrapper-links-list
                //                a(href="videos.html").c-header__header-navbar-wrapper-links-link Vehicle Videos
                //    button.c-header__header-navbar-wrapper-select-btn
                //        img(src='img/icons/HomePage/arrow-down.svg', alt="arrow-down")
        div.c-header__header-contact
            a(href='budget.html').c-header__header-contact-btn-request
                span request a car
            button.c-header__header-contact-btn-contact.contact-modal-btn
                span contact us
            include home/_navigation
            img(src="img/burger.svg" onclick="openNav()").c-header__burger
include home/_navbar
script(src="js/side-navbar.js")

