section#adv
    .container
        div.advantages
            h2.advantages__title Advantages Of Working With Us:
            div.advantages__wrapper
                div.advantages__wrapper-vehicle(data-aos="fade-up")
                    img(src="img/home/polygon106.png").advantages__img
                    img(src="img/adv-mobile-block.svg").advantages__img_mobile
                    div.advantages__wrapper-content-vehicle
                        img(src="img/home/delivery.svg")
                        h3.advantages__wrapper-content-title vehicle delivery
                    div.advantages__wrapper-text-vehicle
                        p.advantages__wrapper-text-item We deliver your vehicle directly to your door. You don’t sign anything until you test drive the vehicle. There is never any obligation to buy beforehand.
                div.advantages__wrapper-finance
                    img(src="img/home/polygon107.png").advantages__img
                    img(src="img/adv-mobile-block.svg").advantages__img_mobile
                    div.advantages__wrapper-content-finance
                        img(src="img/home/group.svg")
                        h3.advantages__wrapper-content-title auto financing
                    div.advantages__wrapper-text-finance
                        p.advantages__wrapper-text-item We partner with the largest lenders in Canada to offer the strongest financing options in the industry—including rates as low as 4%
                div.advantages__wrapper-car(data-aos="fade-up")
                    img(src="img/home/polygon106.png").advantages__img
                    img(src="img/adv-mobile-block.svg").advantages__img_mobile
                    div.advantages__wrapper-content-car
                        img(src="img/home/car.svg")
                        h3.advantages__wrapper-content-title huge inventory
                    div.advantages__wrapper-text-car
                        p.advantages__wrapper-text-item We have access to thousands of high-quality vehicles and offer them to you at wholesale prices. Your dream car is waiting for you
