section.c-home__content
    div.c-home__container
        div.c-home__wrapper-content
            div.c-home__wrapper-content-text
                h2.c-home__wrapper-content-text-title The Easiest Way to Buy a Car in Canada
                a(href="budget.html").c-home__wrapper-content-text-btn Request a SUV
            div.c-home__wrapper-content-carusel
                div.swiper-container
                    div.swiper-wrapper
                        div.swiper-slide(data-text="Request a SUV")
                            div.c-home__wrapper-content-carusel-holder
                               img(src="img/icons/HomePage/nissan.png", alt="nissan")
                        div.swiper-slide(data-text="Request a Car")
                            div.c-home__wrapper-content-carusel-holder
                                img(src="img/icons/HomePage/ford.png", alt="ford")
                        div.swiper-slide(data-text="Request a TRUCK")
                            div.c-home__wrapper-content-carusel-holder
                                img(src="img/icons/HomePage/pickup.png", alt="pickup")
                        div.swiper-slide(data-text="Request a VAN")
                            div.c-home__wrapper-content-carusel-holder
                                img(src="img/icons/HomePage/carusel-car.png", alt="pickup")
                    div.c-home__wrapper-content-carusel-arrow-left.c-home__wrapper-content-carusel-arrow
                        img(src="img/icons/HomePage/carusel-left-arrow.svg", alt="left-arrow").c-home__wrapper-content-carusel-arrow-item
                    div.c-home__wrapper-content-carusel-arrow-right.c-home__wrapper-content-carusel-arrow
                        img(src="img/icons/HomePage/carusel-right-arrow.svg").c-home__wrapper-content-carusel-arrow-item
