section#customer(data-aos="fade-up")
    .container
        div.customer
            h1.customer__title Happy customers
            p.customer__content Since 2017, we have helped thousands of Canadians get
                br
                | their dream vehicles from the comfort of their homes.
        div.blocks
            div.blocks__description
                h2.blocks__description-text What are you waiting for?
                    br
                    | Get started right now!
                div.blocks__description-link
                    a(href="#").blocks__description-link-btn Request a car
            div.blocks__main
                div.blocks__main-item
                    div
                        h1.blocks__main-item-number 7,988+
                        p.blocks__main-item-comment Sold Cars
                div.blocks__main-item
                    div
                        h1.blocks__main-item-number 16,974+
                        p.blocks__main-item-comment Vehicles To Choose From
                div.blocks__main-item
                    div
                        h1.blocks__main-item-number 123
                        p.blocks__main-item-comment Experts Across Canada
