section.delivery-page
    div.delivery
        h2.delivery__title How does it work?
        h3.delivery__message From your phone to your home
        p.delivery__description We make it easy for you to buy your dream car from your phone without ever having to step into a dealership! We deliver your vehicle to your home for you to test drive before you sign anything.
    div.lexus
        img(src="img/lexus.png")
    div.honda
        img(src="img/honda.png")
