.contact-form
    div.nav-container
        .thanks
            img(src="img/success.svg").successful__img
            h1.successful__text Application Successful!
            p.successful__content Your response was successfully submitted. Thank you! Our Team will
                br
                | reach out to you shortly.
        .contact-form-active
            button.close-btn
                img(src="img/close.svg").close-btn-item
            h2.nav-title We can't wait to hear from you!
            p.nav-text Simply contact us using the form below and one of our agents will get in touch with you to start the process!
            form.nav__form
                div.nav__login
                    img(src="img/icons/HomePage/inputs-icons/icon-user.svg").nav__login-icon-user
                    input(type="text", placeholder="Your Name").nav__login-textfield
                div.nav__login
                    img(src="img/icons/HomePage/inputs-icons/icon-phone.svg").nav__login-icon-phone
                    input(type="text", placeholder="Phone Number").nav__login-textfield
                div.nav__login
                    img(src="img/icons/HomePage/inputs-icons/email.svg").nav__login-icon-email
                    input(type="email", placeholder="Email Address").nav__login-textfield
                div.nav__submit
                    button.nav__submit-btn
                        span Contact me
            div.nav__contacts
                h2.nav__contacts-title You can contact us yourself
                div.nav__wrapper
                    div.nav__wrapper-contact
                        img(src="img/icons/HomePage/contact-icons/phone.svg")
                        p.nav__wrapper-contact-text 866-887-5892
                    div.nav__wrapper-contact
                        img(src="img/icons/HomePage/contact-icons/email.svg")
                        p.nav__wrapper-contact-text info@vehicleapprovalcentre.com

            div.nav__social-networks
                img(src="img/icons/HomePage/social-networks/inst.svg").nav__social-networks-item
                img(src="img/icons/HomePage/social-networks/twitter.svg").nav__social-networks-item
                img(src="img/icons/HomePage/social-networks/facebook.svg").nav__social-networks-item
                img(src="img/icons/HomePage/social-networks/utube.svg").nav__social-networks-item
