div(id="mySidenav").sidenav
    div.sidenav__container
        div.sidenav__header
          img(src="img/close.svg" onclick="closeNav()").closebtn
          a(href='budget.html').sidenav__contact request a car
        ul
            li
                a(href="about.html").sidenav__important About Us
            li
                a(href="loan.html").sidenav__important Loan Rates
            li
                a(href="budget.html").sidenav__important Calculator
            li
                a(href="videos.html").sidenav__important Vehicle Videos
            div.nav__social-networks
                img(src="img/icons/HomePage/social-networks/inst.svg").nav__social-networks-item
                img(src="img/icons/HomePage/social-networks/twitter.svg").nav__social-networks-item
                img(src="img/icons/HomePage/social-networks/facebook.svg").nav__social-networks-item
                img(src="img/icons/HomePage/social-networks/utube.svg").nav__social-networks-item
