section#question
    .container
        div.question
            div.question__text
                h1.question__text-title Do you have any questions?
                p.question__text-content Our team at Vehicle Approval Centre is ready to help you find your dream car.
                    br
                    | We make the process of buying a vehicle and getting an auto loan as simple
                    br
                    | and hassle-free as possible.
            div.question__info(data-aos="fade-up")
                div.question__info-video
                    h1.question__info-video-text Watch video about our company
                    iframe(width='560', height='315', src='https://www.youtube.com/embed/EDS1-OTaa-g', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                div.question__info-call
                    h1.question__info-call-title Call us today to talk with
                        br
                        | one of our Qualified Agents.
                    div.question__info-call-phone
                        img(src="img/about/phone.svg").question__info-call-phone-text
                        h1.question__info-call-phone-number 1-902-332-4380
                    button.question__info-call-btn.contact-modal-btn
                        span call me back

