section#steps
    .container
        div.steps
            h1.steps__title
                span Vehicle Approval Center
                | Helps you
                br
                | get your perfect car in 5 easy steps:
        div.contact
            div.contact__info
                div.contact__info-phone
                    img(src="img/home/xs1.png").contact__info-phone-xs1(data-aos="fade-up")
                    img(src="img/home/xs.png").contact__info-phone-xs(data-aos="fade-up")
            div.contact__content
                div.contact__content-item(data-aos="fade-up", data-aos-delay="50")
                    div.contact__content-item-img-number 01
                    div.contact__content-item-text
                        h1.contact__content-item-text-title First Contact
                        p.contact__content-item-text-description Tell us what your dream vehicle is
                div.contact__content-item(data-aos="fade-up", data-aos-delay="150")
                    div.contact__content-item-img-number 02
                    div.contact__content-item-text
                        h1.contact__content-item-text-title Vehicle Selection
                        p.contact__content-item-text-description One of our Qualified Agents sends you custom
                            br
                            | pictures and videos of the car you are interested in
                div.contact__content-item(data-aos="fade-up", data-aos-delay="200")
                    div.contact__content-item-img-number 03
                    div.contact__content-item-text
                        h1.contact__content-item-text-title Secure Financing
                        p.contact__content-item-text-description You work with a dedicated Qualified Agent to
                            br
                            | secure financing on your terms
                div.contact__content-item(data-aos="fade-up", data-aos-delay="250")
                    div.contact__content-item-img-number 04
                    div.contact__content-item-text
                        h1.contact__content-item-text-title Vehicle Delivery
                        p.contact__content-item-text-description We deliver your car to your home or office for
                            br
                            | you to test drive
                div.contact__content-item(data-aos="fade-up", data-aos-delay="300")
                    div.contact__content-item-img-number 05
                    div.contact__content-item-text
                        h1.contact__content-item-text-title Geting Vehicle
                        p.contact__content-item-text-description If you love the vehicle, you sign the paperwork
                            br
                            | and keep the car
