section#calculator
    .container
        div.calculator
            div.calculator__text
                h1.calculator__text-title
                    | Let’s figure out how
                    br
                    |  much you can afford
                p.calculator__text-content
                    | Before you start shopping, let’s figure out how much you can afford.
                    | Move
                    br
                    |  the sliders to see how the loan duration and the total loan amount affect
                    br
                    |  your monthly
                    |                 payments.
            div.calculator__main
                div.calculator__main-load(data-aos="fade-up")
                    div.calculator__main-load-btn
                        input#variant-1(type="radio", name="credit-variant", checked value="poor").calculator__main-radio
                        label.calculator__main-load-btn-link(for="variant-1") poor
                        input#variant-2(type="radio", name="credit-variant" value="average").calculator__main-radio
                        label.calculator__main-load-btn-link(for="variant-2") average
                        input#variant-3(type="radio", name="credit-variant" value="good").calculator__main-radio
                        label.calculator__main-load-btn-link(for="variant-3") good
                    div.calculator__label-wrap
                        span.calculator__label-wrap-title Loan Duration
                        div.calculator__label-wrap-value
                            span.calculator__label-wrap-value-num#months-count 18
                            span.calculator__label-wrap-value-desc month
                    div.range-box
                        div#slider-range-months
                    div.calculator__label-wrap
                        span.calculator__label-wrap-title Loan Amount
                        div.calculator__label-wrap-value
                            span.calculator__label-wrap-value-desc $
                            span.calculator__label-wrap-value-num#amount 150 000
                    div.range-box
                        div#slider-range-amount
                div.calculator__main-amount(data-aos="fade-left")
                    div.calculator__main-amount-wekkly
                        h3.calculator__main-amount-wekkly-title Bi-Weekly Payment
                        h1.calculator__main-amount-wekkly-price.payment $ 483
                    div.calc__main
                        div.calculator__main-amount-monthly
                            h3.calculator__main-amount-monthly-payment Monthly Payment
                            h1.calculator__main-amount-monthly-prices.month-payment $ 966
                        div.calculator__main-amount-pay
                            h3.calculator__main-amount-pay-payment Weekly Payment
                            h1.calculator__main-amount-pay-prices-link.week-payment $ 241
                            a.calculator__main-amount-pay-btn(href="budget.html") Request a car

<link href="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css" rel="stylesheet">
script(src="js/nouislider.js")
script(src="js/calculator.js")
