section#client(data-aos="fade-up")
    .container
        div.container.top
            h1.client__title What our client say about us!
        div.container.bot
            div.client__arrow-wrap
                div.client__arrow-left
                    img(src="img/about/left-arrow.svg")
                div.client__arrow-right
                    img(src="img/about/right-arrow.svg")
            div.swiper-container
                div.swiper-wrapper
                    div.swiper-slide
                        div.client
                            div.client__info
                                img(src="img/about/Rectangle.png").client__info-img
                                div.client__info-text
                                    p.client__info-text-name Laura Chaisson
                                    h3.client__info-text-comment Very kind and do anything to make sure
                                        br
                                        | the customer is happy.
                    div.swiper-slide
                        div.client
                            div.client__info
                                img(src="img/about/Rectangle.png").client__info-img
                                div.client__info-text
                                    p.client__info-text-name Laura Chaisson
                                    h3.client__info-text-comment Very kind and do anything to make sure
                                        br
                                        | the customer is happy.
script(src="js/swiper.min.js")
script(src="js/client-swiper.js")
script(src="js/main.js")
