.c-budget-form {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 88px;

  &__wrap {
    width: 600px;
  }

  &__steps {
    position: relative;
    padding-bottom: 50px;
  }

  .c-form-radio {
    display: none;
    &-label {
      @extend %form-radio;
      @extend %default-radio-label;
      margin-top: 0;
      padding: 20px 26px;
      @extend %menu-text;
    }

    &:checked + label,&-label:hover  {
      border: 1px solid $purple;
      color: $purple;
    }
  }

  .c-form-progress {
    width: 100%;
    background-color: #f1f1f1;
    height: 8px;
    border-radius: 2px;
    margin-bottom: 50px;

    &-done {
      background-color: $purple;
      height: 8px;
      width: 8%;
      border-radius: 2px;
      transition: width 0.6s;
    }
  }

  .c-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .c-form-title {
    color: $mainColor;
    @extend %h3-title;
    font-weight: bold;
    line-height: 140%;
  }

  .c-form-content {
    color: $textColor;
    @extend %regular-text;
    margin-top: 3px;
    &--strong {
      color: $mainColor;
      margin-left: 5px;
    }
  }

  .c-form-submit {
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    border-radius: 2px;
    padding: 14px 41px;
    font-weight: bold;
    background: $purple;
    &:disabled {
      opacity: .5;
    }
    &-back {
      text-transform: uppercase;
      color: $purple;
      text-decoration: none;
      border-radius: 2px;
      padding: 12px 61px;
      font-weight: bold;
      background: $whiteColor;
      margin-left: 15px;
      &:disabled {
        opacity: .5;
      }
    }
  }

  .c-form-filed-wrap {
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;

    &.col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .c-form-filed {
    width: 100%;
    height: 100%;
  }

  .c-form-input-text {
    height: 60px;
    border: 1px solid #f1f1f1;
    font-size: 16px;
    color: $textColor;
    padding-left: 30px;
    width: 100%;
    &::placeholder {
      color: $textColor;
    }
  }
}


.successful{
  &__text{
    margin-top: 28px;
    color: $mainColor;
    font-size: 30px;
    font-weight: bold;
  }
  &__content{
    margin-top: 3px;
    font-size: 16px;
    color: $textColor;
  }
  &__description{
    color: $mainColor;
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
  }
  &__number{
    &-input{
      height: 63px;
      width: 100%;
      color: $purple;
      border: 1px solid #f1f1f1;
      font-size: 16px;
      padding-left: 15px;
      margin-top: 15px;
    }
    &-input::placeholder{
      color: $purple;
    }
  }
}

.c-budget-steps {
  transform: translate(100%, 0);
  &--prev {
    transform: translate(-100%, 0);
  }
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: opacity .6s linear .3s, transform .5s;
  top: 0;
  left: 0;
  pointer-events: none;
  &--active {
    position: relative;
    transform: translate(0, 0);
    transition-delay: .2s;
    z-index: 2;
    opacity: 1;
    pointer-events: all;
  }
}

