
/*===Purple buttons===*/

%btn-full-purple {
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  border-radius: 2px;
  padding: 12px 21px;
  font-weight: bold;
  background: $purple;
}

%btn-border-purple {
  text-transform: uppercase;
  color: $purple;
  text-decoration: none;
  border: 1px solid $purple;
  border-radius: 2px;
  padding: 12px 21px;
  font-weight: bold;
}

/*===White buttons===*/

%btn-full-white {
  text-transform: uppercase;
  color: $purple;
  text-decoration: none;
  border-radius: 2px;
  padding: 12px 21px;
  font-weight: bold;
  background: $white;
}


%btn-purple-hover {
  background: #626FF2;
}

%btn-white-hover {
  background: #7380FF;
}

// ==> Normal style
%base-btn {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  width: rem(212);
  height: rem(50);
  @extend %btn-bold;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all .5s ease;
  span {
    @extend %evt-none;
  }
}

%btn-fill {
  @extend %base-btn;
  color: $white;
  background-color: $cta;
  border-color: $cta;
  &:hover {
    background-color: transparent;
    color: $cta;
  }
}
%btn-border {
  @extend %base-btn;
  color: $cta;
  background-color: transparent;
  border-color: $cta;
  &:hover {
    background-color: $cta;
    color: $white;
  }
}

%btn-fill-white {
  @extend %base-btn;
  color: $cta;
  background-color: $white;
  border-color: $white;
  &:hover {
    background-color: transparent;
    color: $white;
  }
}