%db {
  display: block;
}

%dib {
  display: inline-block;
}

%dn {
  display: none;
}

%df {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

%jcc {
  justify-content: center;
}

%jcsb {
  justify-content: space-between;
}

%jcsa {
  justify-content: space-around;
}

%aic {
  -ms-align-items: center;
  align-items: center;
}

%fw {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

%fdc {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

%bg-reset {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

%evt-none {
  pointer-events: none;
}

%evt-all {
  pointer-events: all;
}

%bsg {
  box-shadow: 2px 15px 16px #eee;
}
%input-reset {
  background-color: transparent;
  border: none;
  color: $white;
}

%form-radio {
  border: 1px solid #f1f1f1;
  color: $textColor;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
}

%default-radio-label {
  padding: 12px 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

%default-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  margin: 0 auto;
  max-width: 1200px;
}
%grid-media-pad {
  display: grid;

  grid-column-gap: 24px;
  margin: 0 auto;
  max-width: 700px;
}
