//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #41456B;
$main_color: #41456B;
$cta: #7380FF;
$light_cta: #D2D6FF;
$text_color: #7C7A84;
$dark_gray: #F1F1F1;

$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###

$purple: #7380FF;
$gray: #7C7A84;
$light-gray: #E7E7E7;
$dark-gray: #f1f1f1;
$purpleColor: #7380FF;
$mainColor: #41456B;
$textColor: #7C7A84;
$whiteColor: #fff;
