div#step-address.c-budget-steps(data-number="8", data-all="14")
    h1.c-form-title Where do you live?
    p.c-form-content Providing your location helps find the best deals near you.
    .c-form
        div.c-form-filed-wrap
            div.c-form-filed
                input(type="text" placeholder="Street Address" name="address").c-form-input-text
        div.c-form-filed-wrap
            div.c-form-filed
                input(type="text" placeholder="City" name="address").c-form-input-text
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input(type="text" placeholder="Province" name="address").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Postal Code" name="address").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="address" data-next="long-lived") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
