div#step-student.c-budget-steps(data-number="4", data-all="14")
    h1.c-form-title Are you currently working?
    p.c-form-content Your employment status will help determine the best vehicle and financing options for you.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#student-1(type="radio", name="student" value="yes").c-form-radio
                label(for="student-1").c-form-radio-label Yes
            div.c-form-filed
                input#student-2(type="radio", name="student" value="no").c-form-radio
                label(for="student-2").c-form-radio-label No
    div
        button.c-form-submit.step-control(data-current="student" data-next="status") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
