div#step-budget.c-budget-steps.c-budget-steps--active(data-number="1", data-all="14")
    h1.c-form-title What's your Budget?
    p.c-form-content Find vehicle options that fit your budget.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#budget-1(type="radio", name="budget" value="Under $250/Month").c-form-radio
                label(for="budget-1").c-form-radio-label Under $250/Month
            div.c-form-filed
                input#budget-2(type="radio", name="budget" value="$250-374/Month").c-form-radio
                label(for="budget-2").c-form-radio-label $250-374/Month
            div.c-form-filed
                input#budget-3(type="radio", name="budget" value="$374-500/Month").c-form-radio
                label(for="budget-3").c-form-radio-label $374-500/Month
            div.c-form-filed
                input#budget-4(type="radio", name="budget" value="Over $500/Month").c-form-radio
                label(for="budget-4").c-form-radio-label Over $500/Month
    button.c-form-submit.step-control(data-current="budget" data-next="trade") Continue
