div#step-data-born.c-budget-steps(data-number="11", data-all="14")
    h1.c-form-title When were you born?
    .c-form
        div.c-form-filed-wrap
            div.c-form-filed
                input(type="text" placeholder="MM/DD/YYYY" name="data-born").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="data-born" data-next="last-step") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
