section#detaly-income
    div.detaly-income
        div.detaly-income__progress-bar
            div.detaly-income__progress-bar-done
        h1.detaly-income__title Income Details: Please Select One:
        p.detaly-income__content Your income details help us make sure your vehicle payments are
            br
            | easy and affordable.
        .detaly-income__form
            div.detaly-income__radio-wrap
                input#variant-1(type="radio", name="variant").detaly-income__radio
                label(for="variant-1").detaly-income__radio-label Hourly Wage
            div.detaly-income__radio-wrap
                input#variant-2(type="radio", name="variant").detaly-income__radio
                label(for="variant-2").detaly-income__radio-label Annual Wage
            div.detaly-income__radio-wrap
                input#variant-3(type="radio", name="variant").detaly-income__radio
                label(for="variant-3").detaly-income__radio-label Monthly Income
        div.detaly-income__btn
            button(disabled='disabled').detaly-income__btn-cont Continue
            button(disabled='disabled').detaly-income__btn-back Back