div.c-budget-steps#step-employment
    h1.c-form-title Tell us about your employment
    p.c-form-content We won’t come visit but we need these details to confirm your
        br
        | employment status so you can get the best rates possible.
    .c-form
        div.c-form-filed-wrap
            div.c-form-filed
                input(type="text" placeholder="Employer").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Title").c-form-input-text
    button(disabled="disabled").employment__cont Continue
    button(disabled="disabled").employment__back Back
