div.c-budget-steps#step-hourly-income(data-number="6", data-all="14")
    h1.c-form-title Enter your Hourly Income
    p.c-form-content Your income details help us make sure your vehicle payments are easy
        br
        | and affordable.
        b.c-form-content--strong Before taxes and deductions.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input(type="text" placeholder="Hourly Wage" name="hourly-income").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Hours a Week" name="hourly-income").c-form-input-text
    div.status__btn
        button.c-form-submit.step-control(data-current="hourly-income" data-next="long-income") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
