div#step-income-details.c-budget-steps(data-number="5", data-all="14")
    h1.c-form-title Income Details: Please Select One:
    p.c-form-content Your income details help us make sure your vehicle payments are easy
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#income-details-1(type="radio", name="income-details" value="hourly-income").c-form-radio
                label(for="income-details-1").c-form-radio-label Hourly Wage
            div.c-form-filed
                input#income-details-2(type="radio", name="income-details" value="anual-income").c-form-radio
                label(for="income-details-2").c-form-radio-label Annual Wage
            div.c-form-filed
                input#income-details-3(type="radio", name="income-details" value="monthly").c-form-radio
                label(for="income-details-3").c-form-radio-label Monthly Income
    div.status__btn
        button.step-control.c-form-submit(data-current="income-details" data-next="other") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
