div#step-last-step.c-budget-steps(data-number="12", data-all="14")
    h1.c-form-title Congratulations, Last Step!
    p.c-form-content Get access to your vehicle and financing options by creating
        br
        |  your account. There is no obligation to continue with financing
        br
        |  if you change your mind.
    .c-form
        div.c-form-filed-wrap
            div.c-form-filed
                input(type="text" placeholder="First Name" name="last-step").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Last Name" name="last-step").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Email" name="last-step").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Phone Number" name="last-step").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="last-step" data-next="successful") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
