div#step-long-lived.c-budget-steps(data-number="9", data-all="14")
    h1.c-form-title How long have you lived here?
    p.c-form-content Providing your location helps find the best deals near you.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input(type="text" placeholder="Hourly Wage" name="long-lived").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Hours a Week" name="long-lived").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="long-lived" data-next="own-home") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
