div#step-long-income.c-budget-steps(data-number="6", data-all="14")
    h1.c-form-title How long have you been earning this income?
    p.c-form-content Your income details help us make sure your vehicle payments are easy
        br
        | and affordable.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input(type="text" placeholder="Years" name="long-income").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Mounths" name="long-income").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="long-income" data-next="address") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
