div#step-monthly.c-budget-steps(data-number="6", data-all="14")
    h1.c-form-title Enter your Monthly Income
    p.c-form-content Your income details help us make sure your vehicle payments are easy
        br
        | and affordable.
        b.c-form-content--strong Before taxes and deductions.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input(type="text" placeholder="Hourly Wage" name="monthly").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="monthly" data-next="long-income") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
