div#step-other.c-budget-steps(data-number="4", data-all="14")
    h1.c-form-title How do you earn Income?
    p.c-form-content Your employment status will help determine the best vehicle and
        br
        | financing options for you.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#variant-1(type="radio", name="other" value="Long-Term Disability").c-form-radio
                label(for="variant-1").c-form-radio-label Long-Term Disability
            div.c-form-filed
                input#variant-2(type="radio", name="other" value="Spousal Support / Alimony").c-form-radio
                label(for="variant-2").c-form-radio-label Spousal Support / Alimony
            div.c-form-filed
                input#variant-3(type="radio", name="other" value="Child Support").c-form-radio
                label(for="variant-3").c-form-radio-label Child Support
            div.c-form-filed
                input#variant-4(type="radio", name="other" value="Social Assistance / Welfare").c-form-radio
                label(for="variant-4").c-form-radio-label Social Assistance / Welfare
            div.c-form-filed
                input#variant-5(type="radio", name="other" value="Maternity Leave").c-form-radio
                label(for="variant-5").c-form-radio-label Maternity Leave
            div.c-form-filed
                input#variant-6(type="radio", name="other" value="Baby Bonus / Child Tax").c-form-radio
                label(for="variant-6").c-form-radio-label Baby Bonus / Child Tax
            div.c-form-filed
                input#variant-7(type="radio", name="other" value="Unemployed / EI").c-form-radio
                label(for="variant-7").c-form-radio-label Unemployed / EI
            div.c-form-filed
                input#variant-8(type="radio", name="other" value="Other / Not Listed").c-form-radio
                label(for="variant-8").c-form-radio-label Other / Not Listed
    div
        button.c-form-submit.step-control(data-current="other" data-next="monthly") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
