div#step-own-home.c-budget-steps(data-number="10", data-all="14")
    h1.c-form-title Do you Rent or Own your Home?
    p.c-form-content If you share a mortgage or rent payment with someone else only
        br
        | include the amount you pay every month.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#own-home-1(type="radio", name="own-home" value="Rent").c-form-radio
                label(for="own-home-1").c-form-radio-label Rent
            div.c-form-filed
                input#own-home-2(type="radio", name="own-home" value="Own").c-form-radio
                label(for="own-home-2").c-form-radio-label Own
        div.c-form-filed-wrap
            div.c-form-filed
                input(type="text" placeholder="How much is your Monthly Payment?" name="own-home").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="own-home" data-next="data-born") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
