div.c-budget-steps#step-pension(data-number="4", data-all="14")
    h1.c-form-title Enter your Monthly Income
    p.c-form-content Your income details help us make sure your vehicle payments are easy
        br
        | and affordable.
        b.c-form-content--strong Before taxes and deductions.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input(type="text" placeholder="Hourly Wage" name="pension").c-form-input-text
            div.c-form-filed
                input(type="text" placeholder="Hours a Week" name="pension").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="pension" data-next="long-income") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
