div#step-status.c-budget-steps(data-number="3", data-all="14")
    h1.c-form-title What's your Employment Status?
    p.c-form-content Your employment status will help determine the best vehicle
        br
        | and financing options for you.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#status-1(type="radio", name="status" value="employed").c-form-radio
                label(for="status-1").c-form-radio-label Employed
            div.c-form-filed
                input#status-2(type="radio", name="status" value="employed").c-form-radio
                label(for="status-2").c-form-radio-label Self-Employed
            div.c-form-filed
                input#status-3(type="radio", name="status" value="student").c-form-radio
                label(for="status-3").c-form-radio-label Student
            div.c-form-filed
                input#status-4(type="radio", name="status" value="pension").c-form-radio
                label(for="status-4").c-form-radio-label Retired / Pension
            div.c-form-filed
                input#status-5(type="radio", name="status" value="other").c-form-radio
                label(for="status-5").c-form-radio-label Other
    div.status__btn
        button.step-control.c-form-submit(data-current="status" data-next="other") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
