div.c-budget-steps#step-student
    h1.c-form-title Are you currently working?
    p.c-form-content Your employment status will help determine the best vehicle and
        br
        | financing options for you.
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#student-1(type="radio", name="student").c-form-radio
                label(for="student-1").c-form-radio-label Yes
            div.c-form-filed
                input#student-2(type="radio", name="student").c-form-radio
                label(for="student-2").c-form-radio-label No
    div
        button(disabled='disabled').c-form-submit Continue
        button(disabled='disabled').c-form-submit-back Back
