div.successful.c-budget-steps#step-successful(data-number="14", data-all="14")
    img(src="img/success.svg").successful__img
    h1.successful__text Application Successful!
    p.successful__content Your response was successfully submitted. Thank you! Our Team will
        br
        | reach out to you shortly.
    h3.successful__description Confirmation Number:
