//tell-about-employed
div#step-tell-about-employed.c-budget-steps(data-number="7", data-all="14")
    h1.c-form-title Tell us about your employment
    p.c-form-content We won’t come visit but we need these details to confirm your employment status so you can get the best rates possible.
    .c-form
        div.c-form-filed
            input(type="text" placeholder="Employer" name="tell-about-employed").c-form-input-text
        div.c-form-filed-wrap
            div.c-form-filed
                input(type="text" placeholder="Title" name="tell-about-employed").c-form-input-text
    div
        button.c-form-submit.step-control(data-current="tell-about-employed" data-next="address") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
