div#step-trade.c-budget-steps(data-number="2", data-all="14")
    h1.c-form-title Do you have a Trade In?
    .c-form
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#trade-1(type="radio", name="trade" value="Yes").c-form-radio
                label(for="trade-1").c-form-radio-label Yes
            div.c-form-filed
                input#trade-2(type="radio", name="trade" value="No").c-form-radio
                label(for="trade-2").c-form-radio-label No
        div.c-form-filed-wrap.col-2
            div.c-form-filed
                input#trade-3(type="radio", name="trade" value="Maybe").c-form-radio
                label(for="trade-3").c-form-radio-label Maybe
    div
        button.c-form-submit.step-control(data-current="trade" data-next="status") Continue
        button.c-form-submit-back.step-control(data-back="1" data-is_prev="1") Back
