section#agents
    .container
        div.agents
            div.question__info-call(data-aos="fade-up")
                h1.question__info-call-title Contact one of our qualified agents
                    br
                    | today to get the process started.
                div.question__info-call-phone
                    img(src="img/about/phone.svg").question__info-call-phone-text
                    h1.question__info-call-phone-number 1-902-332-4380
                a(href="#").question__info-call-btn
                    span call me back
            div.agents__qualified(data-aos="fade-up")
                h1.agents__qualified-title Our Qualified Agents
                p.agents__qualified-content The true secret to the success of VAC isn’t our streamlined purchasing and
                    br
                    | financing processes. The real reason VAC is the easiest and best way to
                    br
                    | buy a car in Canada is because of our outstanding Qualified Agents.
                    br
                    |
                    br
                    | Our team provides you with the best customer experience in the
                    br
                    |  automotive industry. You work with a dedicated representative
                    br
                    | throughout the process. They are able to answer any questions you have
                    br
                    | about any of our vehicles or the financing. Are you interested in seeing
                    br
                    | ictures or videos of a car? Your qualified agent will send them to you.
