section#convenience
    .container
        div.convenience
            figure.convenience__img(data-aos="fade-right")
                img(src="img/about/Nissan1.png")
            div.convenience__info
                h1.convenience__info-title VAC is convenience
                    br
                    | and transparency
                div(data-aos="fade-up")
                    p.convenience__info-content-first We want to make simple for you to find the car you want. We also
                        br
                        | want to make sure you are 100% comfortable with the terms of the
                        br
                        | onditions of your auto loan.
                        br
                        |
                        br
                        |
                    p.convenience__info-content-second Buying a car has never been easier. You pick out the car you want on
                        br
                        | our website. You work with one of our Qualified Agents to secure
                        br
                        | financing. Then we bring the car to you—all before you sign anything.
                        br
                        | You test drive the vehicle, and if you like it, you sign the loan documents
                        br
                        | right there and the car is yours.
