section#dream-car
    .container
        div.dream-car
            div.dream-car__text(data-aos="fade", data-aos-delay="300")
                h1.dream-car__text-title Get your dream car
                div.dream-car__text-content
                    p.dream-car__text-content-first We founded VAC because we hated how complicated it was to buy a
                        br
                        | car. You only have so much free time in your life. You don’t want to waste
                        br
                        | it going to different car dealerships every weekend for weeks and <br> months trying to track down the right car.
                    p.dream-car__text-content-second We also hated how choosing a car and figuring out the financing for the
                        br
                        | vehicle were treated as totally separate processes! Instead of dealing
                        br
                        | ith a salesperson, then being handed off to a closer, and then shuffled
                        br
                        | over to a finance manager, we wanted to create a way for people to
                        br
                        | buy a car and only deal with a single person for the entire process.
            div.dream-car__paragraph
                div.dream-car__paragraph-item(data-aos="fade-up", data-aos-delay="50")
                    img(src="img/about/polygon103.svg").dream-car__paragraph-item-polygon
                    p.dream-car__paragraph-item-polygon-number 01
                    div.dream-car__paragraph-item-content
                        h2.dream-car__paragraph-item-content-title Quickly
                        p.dream-car__paragraph-item-content-description You do not spend a lot of your time going
                            br
                            | to car dealerships
                div.dream-car__paragraph-item(data-aos="fade-up", data-aos-delay="75")
                    img(src="img/about/polygon103.svg").dream-car__paragraph-item-polygon
                    p.dream-car__paragraph-item-polygon-number 02
                    div.dream-car__paragraph-item-content
                        h2.dream-car__paragraph-item-content-title Simply
                        p.dream-car__paragraph-item-content-description You can order your dream car just by talking to
                            br
                            | our specialist by phone
                div.dream-car__paragraph-item(data-aos="fade-up", data-aos-delay="100")
                    img(src="img/about/polygon103.svg").dream-car__paragraph-item-polygon
                    p.dream-car__paragraph-item-polygon-number 03
                    div.dream-car__paragraph-item-content
                        h2.dream-car__paragraph-item-content-title Conveniently
                        p.dream-car__paragraph-item-content-description We will deliver the car directly to the doorstep
                            br
                            | of your home or office

