section#future
    .container
        div.future
            figure.future__img(data-aos="fade-right")
            div.future__info
                h1.future__info-title Main Features
                p.future__info-content We are your one stop shop. We believe that vehicle
                    br
                    | shopping should be a fun and painless process and
                    br
                    |  with years of experience, we make it just that.
                div.future__info-main
                    div.future__info-main-item(data-aos="fade")
                        div
                            h1.future__info-main-item-number 7,988+
                            p.future__info-main-item-comment Sold Cars
                    div.future__info-main-item(data-aos="fade", data-aos-delay="200")
                        div
                            h1.future__info-main-item-number 123
                            p.future__info-main-item-comment Working Experts
                    div.future__info-main-item(data-aos="fade", data-aos-delay="300")
                        div
                            h1.future__info-main-item-number 1560+
                            p.future__info-main-item-comment Happy Clients
