section#mission
    .container
        div.mission
            div.mission__card
                h1.mission__card-title Our Mission
                p.mission__card-content Our mission at VAC is to help you find the perfect car at the
                    br
                    | perfect price and with the perfect auto loan. We make
                    br
                    | buying a car simple. You can complete the entire process
                    br
                    | from home—we’ll even deliver the car to you!
                a(href="#").mission__card-btn Request a car
            figure.mission__img
                img(src="img/about/kia1.png")