section#prices
    .container
        div.prices
            div.prices__first(data-aos="fade", data-aos-delay="300")
                h1.prices__first-title Get a car at the best
                    br
                    | prices and conditions
                p.prices__first-content Not only is buying a car with VAC easy, it’s also the best way to save
                    br
                    | money. We have partnerships with Canada’s largest lenders. That <br> allows us to help you secure loans at the best interest rates available.
                    br
                    |
                    br
                    | Because convenience and transparency are our founding principles,
                    br
                    | we take the time to answer all of your questions about the vehicle
                    br
                    | and the auto loan. We will send you pictures and videos of any part
                    br
                    | of the car you like before you request a test drive.
            div.prices__second(data-aos="fade-up")
                h1.prices__second-title We think that VAC is the best way
                    br
                    | to buy a car in Canada. Try it for
                    br
                    | yourself and see how much time
                    br
                    | and money you can save.
                p.prices__second-content There are never any hidden fees or costs. We never ask you to sign
                    br
                    | anything until we have explained it clearly and you have had a
                    br
                    | chance to read it.
                a(href="#").prices__second-btn Request a car
