section#team
    .container
        div.team
            div.team__info(data-aos="fade", data-aos-delay="300")
                h1.team__info-title We're Dynamic Team of
                    br
                    | Creative People With
                    br
                    | Innovative Mind
                h2.team__info-history Our History
                p.team__info-history-content We founded VAC because we hated how complicated it was to buy a car.
                    br
                    | You only have so much free time in your life. You don’t want to waste it
                    br
                    | going to different car dealerships every weekend for weeks and months
                    br
                    | trying to track down the right car.
                h2.team__info-goal Our Goal
                p.team__info-goal-content Buying a car has never been easier. You pick out the car you want on our
                    br
                    | website. You work with one of our Qualified Agents to secure financing.
                    br
                    | Then we bring the car to you—all before you sign anything. You test drive
                    br
                    |  the vehicle, and if you like it, you sign the loan documents right there and
                    br
                    | the car is yours.
            figure.team__img(data-aos="fade-left", data-aos-delay="300")
