section#benefits
    .container
        div.benefits
            div.benefits__text
                h1.benefits__text-title Benefits of Getting an
                    br
                    | Auto Loan with VAC
                p.benefits__text-content For many people getting a reasonable auto loan is the best way for
                    br
                    | them to get a new car. However, the benefits of getting the right loan
                    br
                    | go beyond just being able to drive a nice vehicle.
                div.benefits__content-text-description
                    h1.benefits__content-text-description-title  When you work with VAC, there are never any hidden
                        br
                        | costs or fees! We lay out all the terms and conditions
                        br
                        | so that you know exactly what details of the loan are
                        br
                        | before you sign anything.
                    a(href="budget.html").benefits__content-text-description-btn Request a car
            div.benefits__content
                div.benefits__content-block
                    div.benefits__content-block-item-purple(data-aos="fade",)
                        div
                            h1.benefits__content-block-item-purple-title Build Your Credit
                                br
                                | Rating
                    div.benefits__content-block-item-white(data-aos="fade", data-aos-delay="100")
                        div
                            h1.benefits__content-block-item-white-title Transparent
                                br
                                | Paperwork
                    div.benefits__content-block-item-white(data-aos="fade", data-aos-delay="170")
                        div
                            h1.benefits__content-block-item-white-title Carfax report
                    div.benefits__content-block-purple(data-aos="fade", data-aos-delay="190")
                        div.benefits__content-block-item-purple
                            div
                                h1.benefits__content-block-item-purple-title Early Payoff
                                    br
                                    | Advantages
                    div.benefits__content-block-purple(data-aos="fade", data-aos-delay="210")
                        div.benefits__content-block-item-purple
                            div
                                h1.benefits__content-block-item-purple-title Improved
                                    br
                                    | Budgeting
                    div.benefits__content-block-item-white(data-aos="fade", data-aos-delay="230")
                        div
                            h1.benefits__content-block-item-white-title No Collateral
                                br
                                | Needed
