section#credit
    .container
        div.credit
            div.credit__card
                div
                    h1.credit__card-title Our Credit policy
                    p.credit__card-content You want to secure a loan that works for your budget. Here
                        br
                        | at VAC we work with Canada’s largest lenders to help you
                        br
                        | find the best interest rates and terms for your auto loan.
                    a(href="budget.html").credit__card-btn Request a car
            figure.credit__img
                img(src="img/loan/chevrolet1.png")