section#interest
    .container
        div.interest
            h2.interest__title Interest Rates And Loan Terms
            div.interest__info
                div.interest__info-block(data-aos="fade")
                    div
                        div.interest__info-block-title
                            img(src="img/loan/percent.svg")
                            h1.interest__info-block-title-text What Are My Interest Rate Options?
                        p.interest__info-block-content We work to secure customized auto loans from Canada’s
                            br
                            | largest lenders. Your interest rate is critical for determining
                            br
                            | the total cost of your auto financing. Interest rates are based
                            br
                            | on many factors including the loan amount, your credit score,
                            br
                            | your budget. We help you find the lowest interest rates
                            br
                            | available for your auto loan.
                div.interest__info-block.interest__info-block_time(data-aos="fade")
                    div.interest__info-block-text
                        div.interest__info-block-title
                            img(src="img/loan/time.svg")
                            h1.interest__info-block-title-text How Long Will My Loan Term Be?
                        p.interest__info-block-content Our goal is to find the right car and the right loan for you.
                            br
                            | Because we have relationships with so many different lenders,
                            br
                            | we can help you find the right term length for your budget. The
                            br
                            | longer the loan is, often the lower the monthly payments will
                            br
                            | be—but the more expensive the loan will be overall. Most of the
                            br
                            | loans we secure for our clients are between 36 and 72 months.
