section.video
    div.video__header
        .container
            h2.video__header-title vehicle videos
    div.video__cars
        .container
            .video__title-wrap
                div.video__cars-videos.video__main
                    h2.video__main-title Our short car tour
                p.video__main-desk Curious about what a vehicle looks like? Check out our custom videos for each vehicle. You can get a feel for each vehicle from the comfort of your home or office. There’s no need to go out to dealership and deal with pushy salespeople.
            .video__cards-wrap
                div.video__cars-videos
                    div.video__cars-videos-view
                        img(src="img/videos/chevrole.png")
                        div.video__cars-videos-view-play(data-code="RMFeCyUkkW0")
                            img(src="img/play-btn.svg")
                    p.video__cars-videos-auto-description VAC's Vehicle Shoot #10: 2018 Chevy Cruze Hatchback
                div.video__cars-videos
                    div.video__cars-videos-view
                        img(src="img/videos/toyota.png")
                        div.video__cars-videos-view-play(data-code="Dh6FduK9gL8")
                            img(src="img/play-btn.svg")
                    p.video__cars-videos-auto-description VAC's Vehicle Shoot #11: Toyota Highlander
                div.video__cars-videos
                    div.video__cars-videos-view
                        img(src="img/videos/mazda.png")
                        div.video__cars-videos-view-play(data-code="zf_l9Ay9xU4")
                            img(src="img/play-btn.svg")
                    p.video__cars-videos-auto-description VAC's Vehicle Shoot #09: 2019 Mazda CX-5
                div.video__cars-videos
                    div.video__cars-videos-view
                        img(src="img/videos/hyndai.png")
                        div.video__cars-videos-view-play(data-code="I0L_2iMGHcU")
                            img(src="img/play-btn.svg")
                    p.video__cars-videos-auto-description Some Vehicles VAC Offers!
