doctype html
include modules/_global-variables
include block/_mixsins

html
    include mainBlock/_head
    body
        include pages/_header
        include pages/about/_about
        main
            include pages/about/_mission
            include pages/about/_dream-car
            include pages/about/_convenience
            include pages/about/_prices
            include pages/about/_agents
            include blocks/_slider-about
            include pages/about/_team
            include pages/about/_future
            include blocks/_calculator
            include pages/_footer


