doctype html
include modules/_global-variables
include block/_mixsins
html
    include mainBlock/_head
    body
        include pages/_header

        section.c-budget-form
            div.c-budget-form__wrap
                div.c-form-progress
                    div.c-form-progress-done
                form.c-budget-form__steps
                    include form/_budget
                    include form/_trade
                    include form/_status

                    // Student steps
                    include form/_are-you-working
                    include form/_income-details

                    // Pensioners steps
                    include form/_pension

                    // Other status
                    include form/_other

                    // income type
                    include form/_hourly-income
                    include form/_anual-income
                    include form/_monthly-income


                    // Steps for all
                    include form/_long-income
                    // Step for  employed
                    include form/_tell-about-employed

                    include form/_address
                    include form/_long-lived
                    include form/_own-home
                    include form/_data-born
                    include form/_last-step
                    include form/_successful

                    //include form/_monthly-income









                    //include form/_student


                    include form/_employment



        script(src="js/quiz.js")
