doctype html
include modules/_global-variables
include block/_mixsins

html
    include mainBlock/_head
    body
        include pages/_header
        include pages/calculator/_about
        include blocks/_calculator
        include pages/_footer
