doctype html
include modules/_global-variables
include block/_mixsins
html
    include mainBlock/_head
    body
        include pages/_header
        include pages/home/_content
        include pages/home/_howItWork
        include pages/home/_steps
        include pages/home/_advantages
        include blocks/_slider-about
        include pages/home/_customer
        include pages/home/_question
        include blocks/_calculator
        include pages/_footer
