doctype html
include modules/_global-variables
include block/_mixsins
html
    include mainBlock/_head
    body
        include pages/_header
        main
            include pages/loan/_about
            include pages/loan/_credit
            include pages/loan/_interest
            include pages/loan/_benefits
            include blocks/_calculator
        include pages/_footer
