doctype html
include modules/_global-variables
include block/_mixsins
html
    include mainBlock/_head
    body
        include pages/_header
        include pages/termsAccordion/_accordion
        include pages/_footer
