doctype html
include modules/_global-variables
include block/_mixsins
html
    include mainBlock/_head
    body
        include pages/_header
        include pages/videos/_content
        include pages/_footer
        script(src="js/jquery.min.js")
        script(src="js/youtube-play.js")
