section.accordion
    div.accordion__head
        div.accordion__header
            h2.accordion__header-title Privacy Policy
    div.accordion__container
        div.accordion__content
            div.accordion__content-holder
                div.accordion__content-holder-title
                    h2.accordion__content-holder-title-tag Last Updated: Oct 7, 2019
                div.accordion__content-holder-description
                    h3.accordion__content-holder-description-title Something we haven’t covered?
                    p.accordion__content-holder-description-text Email us info@vehicleapprovalcentre.com and we’ll get back to you!
            div.accordion__accordion-wrapper
                div.accordion__accordion-wrapper-item
                    h2.accordion__accordion-wrapper-item-tag Terms
                    div.accordion__accordion-wrapper-item-arrow
                        img(src="img/accordion/arrow.svg")
                    p.accordion__accordion-wrapper-item-description Vehicle Approval Centre may, in its sole discretion and for any reason, modify, supplement or amend these Terms and Conditions without any notice or liability to you or any other person, by posting revised Terms and Conditions on the Vehicle Approval Centre website. Your continued use of the Vehicle Approval Centre website signifies your acceptance of such revised Terms and Conditions. View the website to review the most recent version of the Terms and Conditions.
                div.accordion__accordion-wrapper-item
                    h2.accordion__accordion-wrapper-item-tag Authorization
                    div.accordion__accordion-wrapper-item-arrow
                        img(src="img/accordion/arrow.svg")
                    p.accordion__accordion-wrapper-item-description Vehicle Approval Centre may, in its sole discretion and for any reason, modify, supplement or amend these Terms and Conditions without any notice or liability to you or any other person, by posting revised Terms and Conditions on the Vehicle Approval Centre website. Your continued use of the Vehicle Approval Centre website signifies your acceptance of such revised Terms and Conditions. View the website to review the most recent version of the Terms and Conditions.
                div.accordion__accordion-wrapper-item
                    h2.accordion__accordion-wrapper-item-tag Links
                    div.accordion__accordion-wrapper-item-arrow
                        img(src="img/accordion/arrow.svg")
                    p.accordion__accordion-wrapper-item-description Vehicle Approval Centre may, in its sole discretion and for any reason, modify, supplement or amend these Terms and Conditions without any notice or liability to you or any other person, by posting revised Terms and Conditions on the Vehicle Approval Centre website. Your continued use of the Vehicle Approval Centre website signifies your acceptance of such revised Terms and Conditions. View the website to review the most recent version of the Terms and Conditions.
                div.accordion__accordion-wrapper-item
                    h2.accordion__accordion-wrapper-item-tag Site terms of use modifications
                    div.accordion__accordion-wrapper-item-arrow
                        img(src="img/accordion/arrow.svg")
                    p.accordion__accordion-wrapper-item-description Vehicle Approval Centre may, in its sole discretion and for any reason, modify, supplement or amend these Terms and Conditions without any notice or liability to you or any other person, by posting revised Terms and Conditions on the Vehicle Approval Centre website. Your continued use of the Vehicle Approval Centre website signifies your acceptance of such revised Terms and Conditions. View the website to review the most recent version of the Terms and Conditions.
                div.accordion__accordion-wrapper-item
                    h2.accordion__accordion-wrapper-item-tag Governing law
                    div.accordion__accordion-wrapper-item-arrow
                        img(src="img/accordion/arrow.svg")
                    p.accordion__accordion-wrapper-item-description Vehicle Approval Centre may, in its sole discretion and for any reason, modify, supplement or amend these Terms and Conditions without any notice or liability to you or any other person, by posting revised Terms and Conditions on the Vehicle Approval Centre website. Your continued use of the Vehicle Approval Centre website signifies your acceptance of such revised Terms and Conditions. View the website to review the most recent version of the Terms and Conditions.
                div.accordion__accordion-wrapper-item
                    h2.accordion__accordion-wrapper-item-tag How we treat your personal information
                    div.accordion__accordion-wrapper-item-arrow
                        img(src="img/accordion/arrow.svg")
                    p.accordion__accordion-wrapper-item-description Vehicle Approval Centre may, in its sole discretion and for any reason, modify, supplement or amend these Terms and Conditions without any notice or liability to you or any other person, by posting revised Terms and Conditions on the Vehicle Approval Centre website. Your continued use of the Vehicle Approval Centre website signifies your acceptance of such revised Terms and Conditions. View the website to review the most recent version of the Terms and Conditions.
                div.accordion__accordion-wrapper-item
                    h2.accordion__accordion-wrapper-item-tag Cookies
                    div.accordion__accordion-wrapper-item-arrow
                        img(src="img/accordion/arrow.svg")
                    p.accordion__accordion-wrapper-item-description Vehicle Approval Centre may, in its sole discretion and for any reason, modify, supplement or amend these Terms and Conditions without any notice or liability to you or any other person, by posting revised Terms and Conditions on the Vehicle Approval Centre website. Your continued use of the Vehicle Approval Centre website signifies your acceptance of such revised Terms and Conditions. View the website to review the most recent version of the Terms and Conditions.
script(src="js/jquery.min.js")
script(src="js/accordion.js")
