-
    const mainVar = {
        path: {
            css: 'css/',
            fonts: 'fonts/',
            js: 'js/',
            img: 'img/'
        }
    };

-
    const mainText = {
        title: 'Marshal Victory',
        menu: ['Expertise', 'People', 'Insights', 'Contacts'],
        service: {
            title: 'Наши услуги',
            items: [
                'Характеристика площадки/земельного участка/размещения объекта с выделением логистических особенностей расположения',
                'Общая оценка сырьевых и энергетических ресурсов производства',
                'Обследование технического состояния инженерной инфраструктуры',
                'Инспекция /обследование зданий и сооружений с определением физического износа',
                'Инспекция /обследование технологического оборудования и машинс определением укомплектованности и физического износа',
                'Анализ технологического процесса, структуры производства, уровня механизации и автоматизации',
                'Характеристика выпускаемой продукции/услуг, оценка процесса организации контроля качества',
                'Общий анализ технической / проектной /технологической / эксплуатационной /разрешительнойдокументации',
                'Инициирование, проведение специальной технической экспертизы участков с повышенными требованиями к безопасности, отдельного экологического заключения',
                'Инженерно-технические консультации',
                'Организация экспертной оценки стоимости имущества партнерской сертифицированной организацией',
                'Физическое обследование промышленного объекта проводится в основном органолептическим осмотром без применения специальных технических средств контроля. <br> По результатам технического аудита готовится письменный отчетзаключение и рекомендации.',
            ]
        }
    }

-
    const links =  {
        menuLink: [
            'expertise.html',
            'people.html',
            'insights.html',
            'contacts.html'
        ]
    }