.accordion {
  &__head{
    background-color: $purpleColor;
    background-image: url("../img/about/background.svg");
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 13px;
  }
  &__header {
    @extend %default-grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    height: 235px;
    &-title {
      @extend %h2bold60px;
      color: $white;
      text-transform: capitalize;
    }
  }

  &__container {
    max-width: 1197px;
    margin: 0 auto;
  }

  &__content {
    &-holder {
      margin: 160px 0 80px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &-title {
        display: flex;
        justify-content: flex-start;
        @extend %h3-title;
        font-weight: 700;
        color: $black;
      }

      &-description {
        width: 45%;
        display: flex;
        flex-direction: column;
        @extend %regular-text;
        color: $textColor;
        margin-right: 44px;

        &-title {
          @extend %semibold-text;
          color: $black;
          margin-bottom: 6px;

        }

        &-text {
          @extend %regular-text;
          a {
            display: inline-block;
            color: $cta;
            margin: 0 5px;
          }
        }
      }
    }
  }

  &__accordion {
    &-wrapper {
      margin-bottom: 130px;
      &-item {
        border: 1px solid $light-gray;
        position: relative;
        padding: 33px 30px;
        margin-bottom: 14px;
        &--active .accordion__accordion-wrapper-item-arrow img{
          transform: rotate(180deg);
        }

        &--active .accordion__accordion-wrapper-item-description{
          display: block;
        }
        &-arrow {
          position: absolute;
          top: 37px;
          right: 40px;
          cursor: pointer;
          margin-top: 10px;
        }

        &-arrow img {
          transition: all .3s;
        }

        &-tag {
          @extend %semibold-text;
          color: $main_color;
        }

        &-description {
          @extend %regular-text;
          color: $text_color;
          display: none;
          margin-top: 24px;
          max-width: 1090px;
        }
      }
    }
  }
}
