@include bp(1100px) {
  //.c-header__header .container
  .about {
    height: 181px;
  }
  .mission {
    overflow: visible;
    &__card {
      padding: 15px 32px 40px 27px;
      height: auto;
      max-width: 369px;
      &-title {
        margin-bottom: 5px;
      }
      &-content {
        margin-bottom: 35px;
      }
      &-btn {
        padding: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 152px;
      }
    }
  }
  .dream-car {
    margin-top: 148px;
    justify-content: space-between;
    &__text {
      max-width: 400px;
      padding-right: 40px;
    }
    &__text-content {
      margin-top: 13px;
      br {
        display: none;
      }
    }
    &__paragraph {
      margin-left: 0;
    }
    &__paragraph-item-content-description {
      line-height: rem(19);
    }
  }
  .convenience {
    margin-top: 163px;
    &__info {
      margin-left: 38px;
      &-title {
        line-height: rem(49);
      }
    }
   &__info-content-first,
   &__info-content-second{
     margin-top: 18px;
     line-height: rem(19);
     br {
       display: none;
     }
   }
  }
  .prices {
    margin-top: 171px;
  }
  .prices__first {
    max-width: 396px;
  }
  .prices__second {
    margin-top: 4px;
    margin-left: 0;
  }
  .prices__first-title {
    font-size: rem(35);
    line-height: rem(49);
    min-width: 396px;
  }
  .prices__first-content {
    margin-top: 15px;
    line-height: rem(19);
    padding-right: 60px;
    br {
      display: none;
    }
  }
  .prices__second-title {
    font-size: rem(20);
    line-height: rem(28);
    br {
      display: none;
    }
  }
  .prices__second-content {
    margin-top: 17px;
    line-height: rem(19);
    br {
      display: none;
    }
  }
  .prices__second-btn {
    width: 152px;
    height: 36px;
  }

  .agents {
    margin-top: 173px;
  }
  .question__info-call {
    width: 365px;
    height: 246px;
    padding-top: 26px;
    //padding-left: 31px;
    margin-top: 14px;
  }
  .agents__qualified {
    width: auto;
    padding-left: 38px;
    padding-top: 7px;

  }
  .agents__qualified-title {
    font-size: rem(35);
    line-height: rem(49);
  }
  .agents__qualified-content {
    margin-top: 19px;
    max-width: 351px;
    line-height: rem(19);

    br {
      display: none;
    }
  }

  .team {
    margin-top: 174px;
  }
  .team__info {
    max-width: 360px;
  }
  .team__info-title {
    font-size: rem(35);
    line-height: rem(49);
    br {
      display: none;
    }
  }
  .team__info-history,
  .team__info-goal{
    margin-top: 21px;
  }
  .team__info-history-content,
  .team__info-goal-content{
    line-height: rem(19);
    margin-top: 6px;
    br {
      display: none;
    }
  }


  .future {
    margin-top: 139px;
    justify-content: space-between;
  }
  .future__info {
    margin-left: 13px;
    max-width: 362px;
  }
  .future__info-content {
    margin-top: 12px;
  }
  .future__info-main {
    margin-top: 30px;
    grid-column-gap: 19px;
    grid-row-gap: 14px;
  }


  .credit__card {
    width: 365px;
    height: 261px;
  }
  #credit {
    overflow: visible;
  }
  .interest__info-block {
    width: 365px;
    height: 265px;
  }
  #interest {
    overflow: visible;
  }
  .benefits__content-block-item-purple,
  .benefits__content-block-item-white {
    width: 166px;
    height: 86px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefits__content-block-item-purple-title,
  .benefits__content-block-item-white-title {
    padding: 0;
    font-size: rem(16);
    line-height: rem(22);
  }

  .benefits__text-title {
    font-size: rem(35);
    line-height: rem(49);
  }
  .benefits__text-content  {
    font-size: rem(12);
    line-height: rem(19);
    max-width: 350px;
    br {
      display: none;
    }
  }
  .benefits__content-text-description-title {
    font-size: rem(16);
    line-height: rem(28);
    max-width: 350px;
    br {
      display: none;
    }
  }
  .benefits__content-text-description-btn {
    width: 152px;
    height: 36px;
    font-size: rem(12);
  }
  .benefits__content {
    padding-top: 133px;
  }


  .video__main-title {
    font-size: rem(35);
    line-height: rem(49);
  }
  .video__cars-videos {
    width: 365px;
  }
  .video__cars-videos-auto-description {
    font-size: rem(16);
    line-height: rem(26);
  }

}
