@include bp(360px) {
  .c-header__header-contact-btn-contact {
    margin-left: -30px;
  }
  .c-budget-form .c-form-filed-wrap.col-2 {

  }
  .c-budget-form .c-form-radio-label {
    width: auto;
  }
  .c-budget-form .c-form-submit-back {
    padding: 12px 21px;
  }
  .client__info {
    padding: 19px 8px 11px;
  }
  .question__info-call {
    margin-top: 44px;
  }
  .calculator__main-load-btn-link {
    width: 86px;
  }
  .footer__info-title {
    left: 15px;
  }
  .footer__subscribe-info-input {
    width: 168px;
  }
  .blocks__main {
    grid-column-gap: 9px;
    grid-row-gap: 9px;
  }
  .blocks__main-item {
    width: 130px;
  }
  .blocks__main-item-comment {
    font-size: 9px;
  }
  .blocks__main-item-number {
    font-size: rem(19);
  }
  .delivery {
    left: 8%;
  }
  .client__info-img {
    width: 100%;
  }
  .client__info-text {
    max-width: 260px;
    //margin-left: -24px;
  }
  .client__info-text-comment {
    font-size: 11px;
    line-height: 15px;
    br {
      display: none;
    }
  }
  #client .swiper-slide {
    width: 280px !important;
  }
  .c-header__header-contact-btn-contact {
    margin-left: 15px;
  }
}