@include bp(765px) {
  .c-home__container {
    max-width: rem(320);
  }
  .c-header {
    &__header {
      margin-top: -26px;
      padding-top: 25px;
    }

    &__vac {
      margin-left: -45px;
      margin-top: 6px;
    }

    &__header-contact {
      margin-left: 57px;
      margin-top: 4px;
    }
  }

  .c-header__burger {
    margin-top: 7px;
    right: 18px;
    top: 48%;
  }
  .c-home {
    &__content {
      height: 464px;
    }

    &__wrapper {
      &-content {
        &-text {
          &-title {
            font-size: 30px;
            line-height: normal;
            margin-top: -22px;
          }

          &-btn {
            top: 383px;
            width: 152px;
            height: 35px;
            font-size: 12px;
          }
        }

        &-carusel-holder img {
          width: 300px;
          margin-top: -19px;
        }

        &-carusel-arrow {
          width: 35px;
          height: 35px;

          &-right {
            margin: -9px 9px;
          }

          &-left {
            margin: -9px 17px;
          }
        }
      }
    }
  }
  .delivery-page {
    position: relative;
    //overflow: hidden;
    width: 100%;
    max-height: 348px;
  }
  .lexus,
  .honda {
    position: relative;
    //overflow: hidden;
    img {
      width: inherit;
      height: inherit;
      margin-top: 0;
      padding-top: 0;
    }
  }
  .lexus {
    position: sticky;
    width: 206px;
    height: 105px;
    margin-left: auto;
    margin-right: 0;
    margin-top: -63px;
    top: 50%;
  }
  .honda {
    position: sticky;
    width: 242px;
    height: 101px;
    margin-top: -44px;
    top: 55%;
    img {
      margin-left: -68px;
    }
  }
  .delivery {
    position: sticky;
    margin-top: -6px;
    top: 40%;
    left: 15%;
    margin-left: -125px;
    padding: 10px;
    height: 207px;

    &__title {
      font-size: 23px;
    }

    &__message {
      margin-top: -21px;
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__description {
      width: 87%;
    }
  }


  .contact {
    padding-top: 100px;

    &__content-item-img-number {
      width: 43px;
      height: 58px;
      font-size: 16px;
      padding-bottom: 13px;
    }

    &__content-item {
      padding-top: 0 !important;

      &:nth-child(1) {
        padding-top: 20px !important;
      }
    }

    &__info-phone {
      margin-top: -40px;
      margin-left: 26px;
    }

    &__info-phone-xs1 {
      padding: 0;
    }

    &__info-phone-xs {
      padding: 0;
    }
  }

  .steps {
    &__title {
      max-width: 308.3px;
      font-size: 17px;
      line-height: normal;
    }
  }
  //.advantages__wrapper-vehicle,
  //.advantages__wrapper-finance,
  //.advantages__wrapper-car {
  //  margin: 0;
  //}
  .contact__info-phone {
    margin-top: 20px;
  }
  .advantages {
    padding-top: 44px;
    pointer-events: none;

    &__title {
      line-height: normal;
      max-width: 63%;
      margin: 0 auto;
      font-size: rem(24);
    }

    &__wrapper {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      &-vehicle {
        margin: 0;
      }
      &-finance {
        margin: 0;
      }
      &-car {
        margin: 0;
      }
      &-text-finance {
        max-width: 100%;
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        height: auto;
        margin: 0 auto;
        margin-top: 46px;
        max-width: 210px;
        img {
          margin-top: 10px;
          width: 35px;
        }
      }

      &-car {
        img {
          margin-top: 50px;
        }
      }

      &-content {
        &-title {
          margin-top: -10px;
          font-size: 0.9rem;
        }

        &-vehicle {
          top: 15%;

          img {
            margin-top: 30px;
          }
        }
      }

      &-vehicle {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 208px;
        padding-top: 0px;
        order: 2;
        margin-top: 85px;
        //margin: 53px 160px 0 0;
      }

      &-car {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 208px;
        padding-top: 0px;
        order: 3;
        margin-top: 34px;
        //margin: 53px 160px 0 0;
      }

      &-finance {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 208px;
        //margin: 53px 160px 0 0;
        padding-top: 0px;
        order: 1;
        img {
          transform: rotate(0);
        }
      }
    }

    &__img {
      //width: 310px;
      display: none;
      &_mobile {
        position: absolute;
        top: 0;
        width: 100%;
        height: 329px;
        display: block;
      }
    }

    &__wrapper-content-finance,
    &__wrapper-content-car,
    &__wrapper-content-vehicle, {
      position: relative;
      top: auto !important;
      bottom: auto;
      left: auto;
      transform: none;
      margin-top: 80px;
      img {
        width: 35px;
        margin-bottom: 10px;
      }
    }
    &__wrapper-content-vehicle {
      margin-top: 58px;
      img {
        width: 47px;
        margin-bottom: 1px;
      }
    }
    &__wrapper-content-car {
      margin-top: 96px;
      img {
        width: 52px;
      }
    }
    &__wrapper-text-vehicle,
    &__wrapper-text-car {
      transform: none;
      top: auto;
      left: auto;
      position: relative;
      margin: 0 auto;
      margin-top: 37px;
      max-width: 203px;
    }
    &__wrapper-text-car {
      max-width: 193px;
    }
    &__wrapper-content-title {
      font-size: .8rem;
    }

    &__wrapper-text-item {
      font-size: 0.7rem;
      line-height: 21px;
      padding: 0;
    }
  }
  #adv {
    overflow: visible;
  }

  #client {
    padding-top: 247px;

    .swiper-container {
      margin-left: 0;
      margin-top: 15px;
      height: 338px;
      //margin-top: -117px;
    }
    .swiper-slide {
      width: 320px !important;
    }
  }

  .client {
    max-width: 100%;
    width: 100%;
    //margin-top: 130px;

    &__title {
      font-size: rem(23);
      max-width: rem(216);
      line-height: rem(32);
      text-align: left;
    }

    &__arrow-wrap {
      top: 60%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding: 19px 15px 11px 15px;
      &-img {
        width: 290px;
      }

      &-text {
        padding-top: 15px;
        &-comment {
          font-size: 0.9rem;
          margin-top: 9px;
          line-height: rem(21);
        }

        &-name {
          font-size: 12px;
          line-height: rem(16);
        }
      }
    }
    &__arrow-wrap {
      top: 41%;
    }
    &__arrow-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: rgba($white, .7);
      border-radius: 50%;
      margin-left: 0;
      img {
        padding: 0;
        width: 6px;
        height: 16px;
        background-color: transparent;
      }
    }
    &__arrow-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: rgba($white, .7);
      border-radius: 50%;
      img {
        padding: 0;
        width: 6px;
        height: 16px;
        background-color: transparent;
      }
    }
  }

  #customer {
    margin-top: 91px;
  }

  .customer {
    &__title {
      font-size: 1.5rem;
    }
    &__content {
      padding-top: 0;
      padding-left: 0;
      margin-top: 5px;
    }
  }

  .blocks {
    margin-top: 122px;
    margin-left: 0;

    &__description {
      &-text {
        padding-top: 26px;
        line-height: normal;
        font-size: 0.9rem;
        padding-left: 0;
        padding-bottom: 34px;
      }
      &-link-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        padding: 0;
        width: 150px;
        height: 36px;
      }
    }

    &__main {
      padding-left: 0;
      grid-column-gap: 21px;
      grid-row-gap: 19px;
      &-item {
        padding-top: 13px;
        padding-left: 12px;
        height: 80px;
        width: 150px;
        &-number {
          line-height: rem(32);
        }
        &:nth-child(2) {
          //margin-left: -200px;
        }

        &-number {
          font-size: rem(23);
        }
      }
    }
  }

  .question {
    padding-top: 82px;
    padding-left: 0;

    &__text {
      &-title {
        font-size: 23px;
      }
      &-content {
        padding: 0;
        margin-top: 4px;
        line-height: rem(17);
      }
    }

    &__info {
      margin-top: -44px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-call {
        width: 100%;
        padding-top: 32px;
        padding-left: 18px;
        &-title {
          max-width: 75%;
        }
      }
      &-video iframe {
        width: 100%;
        height: 185px;
        margin-right: 10px;
      }

      &-video {
        order: 2;
        width: 100%;
        &-text {
          margin-top: 22px;
          margin-bottom: 9px;
          font-size: 15.2px;
          margin-left: 0;
        }
      }

      &-call {
        order: 1;
        &-phone {
          margin-top: 16px;
          margin-bottom: 25px;
        }
        &-phone-number {
          margin-left: 7px;
          font-size: 15px;
          margin-top: 3px;
        }

        &-title {
          font-size: rem(15);
          line-height: normal;
          margin-top: 16px;
          max-width: 75%;
        }
      }
    }
  }
  #calculator {
    overflow: visible;
    margin: 0 auto;
    margin-top: 126px;
    max-width: 320px;
    margin-bottom: 80px;
  }
  .calculator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


    &__text {
      margin: 0;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      &-content {
        margin: 0;
        white-space: normal;
        margin-top: 9px;
        br {
          display: none;
        }
      }

      &-title {
        line-height: normal;
        word-spacing: 0;
        br {
          display: none;
        }
      }
    }

    &__main {
      //margin-top: -20px;
      //margin-left: -40px;
      max-width: 320px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      &-load {
        height: max-content;
      }
      &-amount {
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 40px;
        width: 100%;
        margin-top: -32px;
        &-pay {
          margin-top: 35px;
          &-btn {
            margin-top: 36px;
          }
        }
      }

      &-amount-monthly-payment {
        font-size: 11px;
        margin-top: 25px;
        padding-bottom: 10px;
      }

      &-amount-monthly-prices {
        font-size: 0.95rem;
      }

      &-amount-wekkly {
        padding-left: 0;
        order: 2;
        margin-top: -60px;
        margin-left: 20px;
        &-price {
          font-size: 20px;
          width: 100%;
          margin-top: 0;
        }
      }
    }

    &__label-wrap {
      margin: 26px 0 0 0;
      width: 76%;
    }
  }
  .calculator__main-amount-pay-payment {
    &:nth-child(2) {
      margin-top: -6px;
      padding-bottom: 8px;
    }
  }
  .calculator__main-amount-pay-prices-link {
    font-size: 13px;
  }
  .calc__main {
    order: 1;
    margin: 0;
    padding: 0;

    &-amount-monthly-prices {
      font-size: 15px;
    }
  }

  .footer {
    &__subscribe {
      margin-top: 30px;
      padding-left: 14px;
      &-title {
        margin-bottom: 0;
      }
    }
    &__subscribe-info {
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &-input {
        height: 35px;
        font-size: 12px;
        &::placeholder {
          font-size: 12px;
        }
      }
      &-btn {
        height: 35px;
        width: 7.625rem;
        font-size: 12px;
      }
    }
    &__info {
      width: 50%;
      margin-top: 43px;
      margin-right: 25px;
      &-title {
        position: absolute;
        bottom: 6px;
        left: 15px;
        font-size: 11px;
      }
    }
  }
  #customer {
    width: auto;
    max-width: 100%;
  }
  .calculator__main {
    padding-bottom: 33px;
    width: 100%;
  }
  .calculator__main-load {
    padding: 0;
    height: 273px;
    width: 100%;
  }
  .calculator__main-load-btn {
    margin-top: 56px;
    margin-left: 21px;
  }
  .calculator__main-load-btn-link {
    width: 93px;
  }
  .range-box {
    padding: 0 21px;
    margin-top: 5px;
  }
  .calculator__main-load {
    width: 100%;
    margin-bottom: 30px;
  }
  .calculator__label-wrap {
    width: 100%;
  }
  .calculator__label-wrap-title {
    margin-left: 21px;
  }
  .calculator__main-amount {
    margin-left: 0;
  }
  .calculator__main-amount-monthly-payment {
    margin-top: 17px;
    margin-left: 20px;
  }
  .calculator__main-amount-monthly {
    padding: 0;
  }
  .calculator__main-amount-monthly-prices {
    margin-left: 19px;
  }
  .calculator__main-amount-pay-payment {
    margin-left: 19px;
  }
  .calculator__main-amount-pay-prices-link {
    margin-top: -6px;
    margin-left: 20px;
  }
  .calculator__main-amount-wekkly-title {
    margin-top: -20px;
  }
  .calculator__main-amount-wekkly {
    margin-left: -5px;
  }
  .calculator__main-amount-pay-btn {
    margin-top: 24px;
    margin-left: 13px;
  }
  .footer__info {
    margin-right: 0;
  }
  .footer__subscribe {
    padding-left: 0;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__social {
    margin-left: 0;
  }

  // ==> About page
  .about__title h1 {
    margin: 0;
    margin-left: 0 !important;
  }

  .mission {
    flex-direction: column;
    max-width: 100%;
  }
  .mission__card {
    width: 100%;
    padding: 67px 32px 40px 24px;
  }
  .mission__card-content {
    br {
      display: none;
    }
  }
  .mission__img {
    width: 100%;
  }

  .dream-car {
    flex-direction: column;
  }
  .dream-car__text-title {
    font-size: rem(23);
    line-height: rem(32);
  }
  .dream-car__paragraph-item-content-description {
    br {
      display: none;
    }
  }
  .convenience {
    max-width: 100%;
    flex-direction: column;
  }
  .convenience__info {
    order: -1;
    padding-left: 0;
    margin-left: 0;
  }
  .convenience__info-title {
    font-size: rem(23);
    line-height: rem(32);
  }
  .convenience__img {
    width: 100%;
  }



  .prices__first-title {
    max-width: 100%;
    min-width: 100%;
    font-size: rem(23);
    line-height: rem(32);
  }
  .prices {
    flex-direction: column;
  }
  .prices__first-content {
    padding: 0;
    margin-bottom: 30px;
  }
  #agents {
    overflow: visible;
    & + #client {
      padding-top: 117px;
    }
  }
  .agents {
    flex-direction: column;
  }
  .agents__qualified {
    padding: 0;
  }
  .agents__qualified-title {
    font-size: rem(23);
    line-height: rem(32);
  }
  .question__info-call-title {
    max-width: 100%;
    font-size: rem(15);
    line-height: rem(21);
  }
  .question__info-call {
    padding-right: 20px;
  }

  .team {
    flex-direction: column;
  }
  .team__info-title {
    font-size: rem(23);
    line-height: rem(32);
  }
  .team__info-history,
  .team__info-goal {
    font-size: rem(15);
    line-height: rem(21);
  }
  .team__img {
    width: 100%;
  }
  .future {
    flex-direction: column;
  }
  .future__info {
    order: -1;
    margin-left: 0;
  }
  .future__info-title {
    font-size: rem(23);
    line-height: rem(32);
  }
  .future__info-main-item-number {
    font-size: rem(23);
    line-height: rem(32);
  }
  .future__info-main-item {
    width: 150px;
  }
  .future__img {
    width: 100%;
  }

  .credit {
    flex-direction: column;
  }
  .credit__card {
    width: 100%;
    padding-bottom: 20px;
    height: auto;
  }
  .credit__card-content {
    white-space: normal;
    margin-left: 0;
    margin-bottom: 20px;
    br {
      display: none;
    }
  }
  .credit__card-btn {
    width: 150px;
    height: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .credit__img {
    width: 100%;
    margin-left: 0;
  }

  .interest__title {
    font-size: rem(23);
    line-height: rem(32);
    max-width: 200px;
    margin-bottom: 0;
  }
  .interest__info {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  .interest {
    margin-left: 0;
  }
  .interest__info-block {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

  }
  .interest__info-block-content {
    white-space: normal;
    br {
      display: none;
    }
  }
  .interest__info-block-title {
    margin-top: 0;
  }
  .interest__info-block-text {
    padding-top: 0;
  }

  .benefits {
    flex-direction: column;
    padding-bottom: 250px;
  }
  .benefits__content-block-item-purple,
  .benefits__content-block-item-white{
    width: 150px;
  }
  .benefits__content {
    padding-top: 20px;
  }
  .benefits__content-text-description-btn {
    padding: 0;
  }
  .benefits__content-text-description {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .benefits__text-title {
    font-size: rem(23);
    line-height: rem(32);
  }
  .about__title {
    margin-top: 50px;
  }


  .video__title-wrap {
    flex-direction: column;
  }
  .video__main-title {
    font-size: rem(23);
    line-height: rem(32);
  }
  .video__cars-videos {
    width: 100%;
  }
  .video__main {
    margin-bottom: 22px;
  }
  .video__main-desk {
    font-size: rem(12);
    line-height: rem(19);
  }
  .video__cars-videos-view img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 173px;
  }
  .video__cars-videos-view-play img {
    width: 48px;
    height: 48px;
  }
  .video__cars-videos-auto-description {
    font-size: rem(14);
    line-height: rem(21);
  }
  .video__header-title {
    font-size: rem(30);
    line-height: rem(33);
  }
  .video__header {
    height: 145px;
  }
  .contact-form {
    width: 100%;
    padding: 36px 20px 0 20px;
    .nav-title {
      margin: 26px 0 10px;
    }
    .nav__wrapper {
      flex-direction: column;
    }
    .nav__wrapper-contact {
      justify-content: flex-start;
    }
    .nav__wrapper-contact {
      margin-bottom: 15px;
    }
  }
  .footer {
    padding-bottom: 50px;
  }
  .footer__subscribe-info-input {
    box-shadow: none;
  }
  .footer__info-title {
    left: 0;
    bottom: 20px;
  }
  main {
    overflow: hidden;
  }
  .video__cars-videos-auto-description {
    margin-bottom: 60px;
  }
  .advantages__title {
    max-width: 78%;
  }
  .advantages__img_mobile {
    width: 105%;
    height: 349px;
    left: 50%;
    margin-left: -52.5%;
  }
  .c-budget-form__wrap {
    width: 100%;
    padding: 0 15px;
  }
  .c-budget-form .c-form-radio-label {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 47px;
    font-size: rem(10);
  }
  .c-budget-form .c-form-title {
    font-size: rem(16);
    line-height: rem(23);
  }
  .c-budget-form .c-form-content {
    font-size: rem(12);
    line-height: rem(17);
    br {
      display: none;
    }
  }
  .accordion__header-title {
    font-size: rem(30);
  }
  .accordion__head {
    height: 125px;
  }
  .accordion__header {
    height: 125px;
  }
  .accordion__content {
    max-width: 320px;
    margin: 0 auto;
  }
  .accordion__content-holder {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .accordion__content-holder-description {
    width: 100%;
  }
  .accordion__content-holder-title {
    margin-bottom: 10px;
  }
  .accordion__content-holder-title-tag {
    font-size: rem(16);
    line-height: rem(22);
  }
  .accordion__content-holder-description-title {
    font-size: rem(14);
  }
  .accordion__content-holder-description-text {
    font-size: rem(12);
    max-width: 290px;
  }
  .accordion__accordion-wrapper-item-tag {
    font-size: rem(14);
    line-height: rem(22);
    //padding-right: 22px;
  }
  .accordion__accordion-wrapper-item {
    padding: 25px 15px;
  }
  .accordion__accordion-wrapper-item-arrow {
    top: 0;
    right: 10px;
  }
  .accordion__accordion-wrapper-item-arrow {
    width: 16px;
  }
  .accordion__accordion-wrapper-item-description {
    font-size: rem(11);
    line-height: rem(17);
  }
  .footer__info-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__info-content {
    order: 0;
  }
  .footer {
    padding-bottom: 100px;
  }
  .design-by {
    margin-top: 20px;
  }
  .about__title {
    margin-top: 30px;
    h1 {
      font-size: rem(30) !important;
      line-height: rem(41);
    }
  }
  .about {
    height: 0 !important;
  }
  #mission {
    margin-top: 40px;
  }.video__cars-videos-view-play
  .video__cars-videos-view {
    iframe {
      width: 100%;
      height: 173px;
    }
  }
  .video__cars-videos-view-play {
    z-index: 5;
  }
  #calculator {
    overflow: hidden;
  }
  .c-home__wrapper-content-carusel-holder img {
    margin-top: 0;
  }
  .c-header__header-contact-btn-request {
    margin: 0;
  }
  .c-header__header-contact {
    margin: 0;
  }
  .c-header__header-contact-btn-contact {
    margin-left: 53px;
  }
  .contact__info {
    overflow: hidden;
  }
  #steps {
    .container {
      overflow: hidden;
    }
  }
  .c-home__wrapper-content-carusel {
    overflow: hidden;
  }
  .contact__info-phone {
    //overflow: hidden;
  }
  .contact__info-phone-xs1 {
    left: -48px;
    width: 190px;
  }
  .contact__info-phone-xs {
    width: 240px;
    left: 138px;
  }
  #client {
    overflow: hidden;
  }
  .footer__info-title {
    width: 90%;
  }
}