head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= mainText.title
    meta(name="description" content="")
    meta(name="keywords" content="")
    // ================= Favicon =================
    link(rel="icon" href="img/logo/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon")
    // ################# Favicon #################
    // ==================== OG Tags ====================
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:type" content="article")
    meta(property="og:image" content="")
    meta(property="og:site_name" content="")
    meta(name="viewport", content="width=device-width initial-scale=1, minimum-scale=1, maximum-scale=1")

    // #################### OG Tags ####################
    // ==================== Css ====================
    link(rel="stylesheet" href=`${mainVar.path.css}nouislider.min.css`)
    link(rel="stylesheet" href=`${mainVar.path.css}swiper.min.css`)
    link(rel="stylesheet" href=`${mainVar.path.css}main.css`)
    link(rel="stylesheet" href=`https://unpkg.com/aos@2.3.1/dist/aos.css`)
    link(rel="stylesheet" href=`${mainVar.path.fonts}stylesheet.css`)
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="js/swiper.min.js")
    script(src="js/main.js")
    // #################### Css ####################
