@include bp(1199px) {
  //.c-header__header .container
  .c-home__container {
    max-width: rem(1100);
  }
  .c-header {
    &__header {
      .container {
        max-width: rem(1100);
      }
    }
  }
}
