@include bp(1100px) {
  //section {
  //  overflow-y: hidden;
  //}
  .c-home__container {
    max-width: rem(750);
  }
  .c-header {
    &__header {
      .container {
        max-width: 100%;
        padding: 0 25px;
      }
    }
  }
  .c-header__header-contact-btn-contact {
    font-size: rem(12);
  }
  .c-home__wrapper-content-text {
    padding-top: 0;
  }
  .c-home__wrapper-content-text-title {
    font-size: rem(45);
    line-height: rem(49);
    max-width: 500px;
  }
  .c-home__content {

  }
  .c-home__wrapper-content {
    display: block;
  }
  .c-home__wrapper-content-carusel .swiper-container {
    width: 100%;
  }
  .delivery-page {
    max-height: 750px;
  }
  .steps {
    padding-top: 97px;
    &__title {
      max-width: 370px;
      font-size: 23px;
      line-height: rem(32);
      br {
        display: none;
      }
    }
  }
  .contact__content {
    margin-top: -19px;
  }
  .contact__info-phone-xs {
    left: 138px;
  }
  .advantages {
    padding-top: 153px;
    &__wrapper {
      padding-left: 157px;
    }
  }
  .advantages__wrapper-finance .advantages__wrapper-content-finance {
    top: 5% !important;
  }
  .advantages__wrapper-text-finance {
    top: 30%;
    left: 48%;
    max-width: 44%;
    opacity: 1;
    transform: translateX(-50%);
  }
  .advantages__wrapper-content-vehicle img {
    margin-left: 0;
  }
  .advantages__wrapper-content-vehicle {
    top: 45%;
    left: 51%;
  }
  .advantages__wrapper-text-vehicle {
    opacity: 1;
    top: 53%;
    transform: translateX(-51%) translateY(89px);
    max-width: 100%;
    width: 249px;
  }
  .advantages__wrapper-content-car {
    top: 44%;
    left: 49.5%;
    img {
      width: 48px;
    }
  }
  .advantages__wrapper-text-car {
    top: 52%;
    transform: translateX(-55%) translateY(85px);
    opacity: 1;
  }
  #client {
    padding-top: 162px;
    .container {
      //max-width: ;
    }
  }
  #calculator {
    overflow: hidden;
  }
  .client {
    &__title {
      text-align: center;
    }
  }
  .client__arrow-wrap {
    top: 50%;
  }
  .client__arrow-left {
    margin-left: 12px;
  }
  .client__arrow-right {
    margin-right: -1px;
  }

  #customer {
    padding-top: 0;
    margin-top: 215px;
    max-width: 726px;
  }
  .customer {
    &__title {
      font-size: rem(35);
      line-height: rem(49);
    }
    &__content {
      padding-top: 12px;
    }
  }
  .blocks__description-text {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 4px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: rem(28);
  }
  .blocks__main {
    margin-top: -95px;
  }
  .blocks__main-item {
    padding-left: 20px;
  }
  .blocks__main-item-number {
    font-size: rem(35);
    line-height: rem(49);
  }
  #client {
    .swiper-container {
      margin-top: 33px;
    }
    .container {
      &.bot {
        max-width: 710px;
      }
    }
  }
  .client__info-text {
    padding: 0;
  }
  .question {
    padding-top: 229px;
    margin-top: 0;
    padding-left: 16px;
  }
  .question__text-title {
    font-size: rem(35);
    line-height: rem(49);
  }
  .question__text-content {
    padding: 4px 24px 17px 8px;
    br {
      display: none;
    }
  }
  .question__info-video-text {
    margin-top: 51px;
    margin-bottom: 21px;
  }
  .question__info-video iframe {
    width: 365px;
    height: 211px;
  }
  .question__info-call {
    width: 347px;
    height: 218px;
    padding-top: 25px;
    padding-left: 28px;
  }
  .question__info-call-title {
    max-width: 296px;
    font-size: rem(20);
    line-height: rem(28);
    br {
      display: none;
    }
  }
  .question__info-call-phone {
    margin-bottom: 32px;
    margin-top: 13px;
  }
  .question__info-call-phone-text {
    width: 12px;
  }
  .question__info-call-phone-number {
    margin-left: 12px;
  }
  .question__info-call-btn {
    width: 152px;
    height: 36px;
    padding: 0;
    font-size: rem(12);
    line-height: rem(14);
  }
  #calculator {
    margin-top: 223px;
    padding-bottom: 0;
    margin-bottom: 112px;
    .container {
      max-width: 718px;
    }
  }
  .calculator__text {
    margin-bottom: 51px;
  }
  .calculator__text-title {
    line-height: rem(49);
  }
  .calculator__main-load {
    padding: 29px 37px 0 36px;
    width: 490px;
    height: 350px;

  }
  .calculator__main-amount {
    padding: 14px 0 49px 40px;
    width: 218px;
    display: block;
  }
  .calculator__main-amount-wekkly-title {
    margin-top: 19px;
  }
  .calculator__main-amount-monthly-payment {
    margin-top: 25px;
  }
  .calculator__main-amount-pay {
    margin-top: 16px;
  }
  .calculator__main-amount-pay-prices-link {
    margin-bottom: 23px;
  }
  .calculator__main-amount-pay-btn {
    width: 152px;
    height: 36px;
    font-size: rem(12);
  }
  .calculator__main-amount-wekkly-title,
  .calculator__main-amount-monthly-payment,
  .calculator__main-amount-pay-payment {
    font-size: rem(12);
    line-height: rem(19);
  }
  .calculator__main-amount-monthly-prices,
  .calculator__main-amount-pay-prices-link {
    font-size: rem(20);
    line-height: rem(28);
  }
  .calculator__main-amount-wekkly-price {
    font-size: rem(35);
    line-height: rem(49);
  }
  .calculator__main-load-btn-link {
    width: 103px;
    height: 36px;
    font-size: rem(12);
  }
  .calculator__label-wrap-title {
    font-size: rem(16);
  }
  .calculator__label-wrap {
    margin: 33px 0 13px;
  }
  .calculator__label-wrap-value-num {
    font-size: rem(16);
    margin-top: 7px;
  }
  .calculator__label-wrap-value-desc {
    //font-size: rem(18);
    font-family: 'Gilroy-Regular', sans-serif;
  }

  .footer__social {
    margin-left: 11px;
  }
  .footer__social-sites {
    margin-top: 10px;
    margin-left: 10px;
  }
  .footer__subscribe-title {
    font-size: rem(12);
    line-height: rem(19);
  }
  .footer {
    max-width: 100%;
  }
}
@include bp(800px) {
  .delivery {
    left: 18%;
  }
}