.video {
  &__header {
    @extend %df;
    @extend %aic;
    background-image: url("../img/videos/bg.svg");
    background-color: $purple;
    width: 100%;
    height: 235px;
    margin-top: 13px;
    &-title {
      @extend %h1-title;
      color: $white;
      text-transform: capitalize;
      margin-top: -13px;
    }
  }

  &__main {
    margin-bottom: 82px;
    &-title {
      @extend %h2-title;
      color: $main_color;
      text-transform: capitalize;
    }
    &-desk {
      @extend %regular-text;
      color: $text_color;
      margin-top: 9px;
      max-width: 578px;
      padding-right: 12px;
    }
  }
  &__title-wrap {
    @extend %df;
    @extend %jcsb;
    margin-bottom: 45px;
  }
  &__cards-wrap {
    @extend %df;
    @extend %jcsb;
    @extend %fw;
    margin-bottom: 85px;
  }
  &__cars {
    margin-top: 160px;
    &-videos {
      width: 580px;
      text-align: left;


      &-view img {
        width: 100%;
        object-fit: cover;
        height: 326px;
      }

      &-view {
        position: relative;
        width: 100%;
        height: max-content;

        &-play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 20;
        }

        &-play img {
          width: 48px;
          height: 48px;
          cursor: pointer;
          opacity: .9;
          transition: opacity .3s;
          &:hover {
            opacity: 1;
          }
        }
      }

      &-title {
        @extend %h2-title;
        color: $mainColor;
        text-transform: capitalize;
      }

      &-auto-description {
        @extend %semibold-text;
        margin-bottom: 40px;
        margin-top: 19px;
        color: $mainColor;
      }

      &-description {
        @extend %regular-text;
        color: $textColor;
      }
    }
  }
}
